@charset "utf-8";
.content {
  width: 1000px;
  overflow: hidden;
}

.wrap {
  margin: 20px 0 30px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.match-detail {
  position: absolute;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  background-color: #FFCD00;
  bottom: 32px;
  left: 426px;
  color: #2A1000;
  font-size: 20px;
  line-height: 3;
}

.match-detail:hover {
  color: #fff;
  background-color: #308EE9;
}
.bt {
  text-align: center;
  cursor: pointer;
}

.introduce {
  position: relative;
  padding: 40px;
  margin-top: 20px;
  background-color: #F1F1F1;
  font-size: 16px;
  text-indent: 2em;
  line-height: 1.9;
  text-align: justify;
  overflow: hidden;
}

a.introduce-more {
  display: none;
  position: absolute;
  right: 52px;
  bottom: 9px;
  color: #10386B;
  font-weight: bold;
}

p.test {
  position: relative;
  padding: 40px;
  background-color: #F1F1F1;
  font-size: 16px;
  text-indent: 2em;
  line-height: 1.9;
  text-align: justify;
  overflow: hidden;
  box-sizing: content-box;
}

.introduce-wrapper {
  width: 100%;
  overflow: hidden;
}

.introduce-wrapper.close {
  height: 150px;
}

.introduce-wrapper p {
  /* margin-bottom: 1em; */
}

.item-list {
  width: 680px;
  border: 1px solid #DEDEDE;
  float: left;
}

.item-title {
  color: #999999;
  height: 40px;
  font-size: 14px;
  line-height: 2.5;
  background-color: #F4F4F4;
  padding-left: 12px;
  border-bottom: 1px solid #DEDEDE;
}

.cur {
  color: #333;
}

li.team-li {
  border-bottom: 1px solid #DEDEDE;
  height: 120px;
}

img.team-ico {
  float: left;
  margin-left: 36px;
  width: 96px;
  height: 120px;
}

.team-info {
  position: relative;
  float: right;
  width: 500px;
  height: 100%;
  font-size: 16px;
}

.team-name {
  top: 34px;
  height: 24px;
  left: 10px;
  font-size: 24px;
  /* background-color: red; */
  max-width: 168px;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}

.team-info span {
  display: inline-block;
  line-height: 1;
}

span.team-type {
  top: 40px;
  left: 130px;
  margin-left: 8px;
  width: 176px;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  /* background-color: rebeccapurple; */
}

span.create-date {
  position: absolute;
  top: 32px;
  right: 24px;
  font-size: 14px;
  color: #747474;
}

span.team-type1 {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

span.team-area {
  margin-left: 8px;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-page {
  height: 38px;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.team-prev {
  display: inline-block;
  background-color: #DADADA;
  padding: 6px;
}

a.team-next {
  display: inline-block;
  background-color: #DADADA;
  padding: 6px;
  margin-right: 20px;
}

span.team-page-info {
  padding: 6px;
  padding-right: 20px;
  display: inline-block;
}

i {
  font-style: normal;
}

a.team-prev:hover,
a.team-next:hover {
  background-color: #10386B;
  color: #fff;
}

.wrap-right {
  float: right;
  width: 292px;
}

.wrap-right img {
  border: 1px solid #DEDEDE;
}

span.regiest-info {
  position: absolute;
  bottom: 34px;
  left: 14px;
  font-size: 20px;
  color: #10386B;
}

i.team-mumber {
  margin: 0 4px;
  font-size: 32px;
  color: red;
}

.team-search {
  border: 1px solid #DEDEDE;
  margin: 20px 0;
  height: 40px;
}

.team-regist-info {
  position: relative;
}

.team-search-bt {
  width: 40px;
  height: 100%;
  float: right;
  background-image: url(../img/competition-search.png);
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #DEDEDE;
  cursor: pointer;
}

.team-search-bt:hover {
  background-image: url(../img/competition-search1.png);
}

input.team-search-text {
  border: 0;
  margin-left: 10px;
  width: 239px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  float: left;
}

li.team-hot-li {
  position: relative;
  line-height: 36px;
  border-bottom: 1px solid #DEDEED;
  padding-left: 80px;
}

li.team-hot-li:nth-child(2n) {
  background-color: #EEEEEE;
}

ul.team-hot-ul {
  /* margin-top: 20px; */
  border: 1px solid #DEDEDE;
  border-bottom: 0;
}

.team-hot-li i {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-align: center;
  display: inline-block;
  margin-left: -34px;
  border-radius: 50%;
  top: 9px;
}

li.team-hot-title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

li.team-hot-li.top {
  color: #164F96;
}

li.team-hot-li.top i {
  background-color: red;
  color: #fff;
}

.ball {
  position: absolute;
  top: 220px;
  width: 120px;
  height: 344px;
  /* background-color: red; */
  background-image: url(../img/ball.png);
  background-repeat: no-repeat;
  background-size: 120px;
  transition: all 0.5s ease-out 0s;
  display: none;
}

img.ball0 {
  position: absolute;
  width: 120px;
  top: 130px;
  cursor: pointer;
}

img.ball1 {
  position: absolute;
  cursor: pointer;
  width: 120px;
  top: 194px;
}

span.item-school {
  cursor: pointer;
}

span.item-club {
  cursor: pointer;
}

span.item-all {
  cursor: pointer;
}

.star-team {
  position: relative;
  height: 240px;
  background-color: #F1F1F1;
  /* background-color: red; */
}

.introduce.star {
  margin-top: 0;
  margin-bottom: 30px;
}

a.team-more {
  position: absolute;
  right: 6px;
  top: -22px;
}

.star-title {
  width: 180px;
  height: 40px;
  background-color: #10386B;
  position: absolute;
  top: -30px;
  background-image: url(../img/team-cup.png);
  background-repeat: no-repeat;
  background-position: 6px -14px;
}

span#star-title-name {
  display: inline-block;
  float: right;
  padding: 0 18px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  background-color: #DA464E;
}

li.team-video-li img {
  width: 100%;
  height: 100%;
  z-index: 8 ;
  float: left;
}

li.team-video-li, li.team-pics-li,li.youth-video-li {
  position: relative;
  margin-bottom: 21px;
  margin-right: 23px;
  width: 318px;
  height: 290px;
  display: inline-block;
  float: left;
  /* background-color: red; */
  overflow: hidden;
}

li.team-video-li i {
  position: absolute;
  background: url(../img/play.png) no-repeat center center;
  width: 100%;
  display: block;
  height: 100%;
  /* background-color: red; */
  top: 0;
  left: 0;
  z-index: 9;
}

.team-video {
  margin-top: 20px;
  overflow: hidden;
  /* background-color: #B8B8E8; */
}

.monents-title {
  margin-left: 20px;
  color: #666;
  font-size: 14px;
}

span.monents-title span {
  cursor: pointer;
}

.team-pics,.youth-video {
  margin-top: 20px;
  width: 1000px;
  overflow: hidden;
  /* background-color: #EA82D9; */
}

.hide {
  display: none;
}

.star-arr {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 54px;
  top: 100px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.star-right {
  /* background-color: blue; */
  right: 36px;
  background-image: url(../img/star-right.png);
}

.star-left {
  left: 36px;
  /* background-color: red; */
  background-image: url(../img/star-left.png);
}

.star-teams {
  position: relative;
  overflow: hidden;
  width: 820px;
  height: 200px;
  /* background-color: red; */
  margin: 0 auto;
  padding-top: 30px;
}

p.team-info-1 {
  margin-top: 24px;
  height: 44px;
  max-width: 360px;
  overflow: hidden;
}

p.team-info-2 {
  line-height: 40px;
  padding-right: 24px;
}

.star-teams-move {
  position: relative;
  height: 200px;
  left: 0;
  width: 1000000px;
  transition: all 0.5s ease-out 0s;
}

img.pic-move {
  width: 160px;
  float: left;
  margin-right: 5px;
  height: 200px;
}

li.team-pics-li img {
  width: 318px;
  height: 290px;
  transition: all .4s ease-in .1s;
  cursor: pointer;
}

li.team-pics-li:hover img {
  width: 328px;
  height: 299px;
  margin: -5px 0 0 -5px;
}

ul.team-pics-ul, ul.team-video-ul, ul.youth-video-ul {
  overflow: hidden;
  width: 1023px;
}

span.monents-cur {
  color: #DB434A;
  font-size: 18px;
}

li.team-pics-li p {
  position: absolute;
  background: url(../img/bg.png);
  height: 32px;
  width: 96%;
  font-size: 16px;
  text-align: justify;
  padding: 5px 2%;
  transition: all .4s ease-in 0s;
  line-height: 30px;
  bottom: 0;
  color: #fff;
  left: 0;
  display: block;
}

li.team-pics-li:hover p {
  height: 94px;
}

i.ico-ball {
  background: #10386b url("../img/team-cup.png") no-repeat center -12px;
}

.more-team {
  cursor: pointer;
}

.wrap.team {
  margin-top: -14px;
}

.youth-bg {
  overflow: hidden;
  width: 100%;
  /* background-image: url("../img/youth-bg.jpg"); */
}
/*
.youth-title h1 {
  color: #fff;
  font-size: 30px;
  border: 0;
  padding-top: 100px;
  padding-left: 90px;
  line-height: 3;
  /* background-color: red; * /
  background-repeat: no-repeat;
  background-position: 0px 100px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
*/
.youth-ico {
  width: 80px;
  height: 100px;
  margin-right: 20px;
  display: inline-block;
}

.youth-title {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  width: 1000px;
  text-align: center;
  height: 226px;
  background-image: url(../img/youth-team-bg.jpg);
}
.youth-title .youth-name {
  color: #fff;
  position: relative;
  top: -40px;
  font-size: 30px;
  width: 600px;
  overflow: hidden;
  white-space:nowrap;
  display: inline-block;
  /* background-color: red; */
}

.youth-banner {
  /* background-color: white; */
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 70px;
  overflow: hidden;
}

.youth-banner-li {
  width: 143px;
  height: 70px;
  line-height: 95px;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  /* background-color: #10386B; */
  background-image: url(../img/youth-banner-bg.png);
  background-repeat: no-repeat;
}


.youth-herald,.youth-history {
  overflow: hidden;
  margin-top: 20px;
  /* display: none; */
}

li.youth-herald-li, li.youth-history-li {
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  position: relative;
  font-weight: 500;
  background-color: #EFEFEF;
  vertical-align: middle;
}

ul.youth-herald-ul,ul.youth-history-ul {
  font-size: 14px;
  overflow: hidden;
  background-image: url(../img/herald-bg1.png);
}

li.youth-herald-li p,li.youth-history-li p {
  width: 333px;
  float: left;
  line-height: 60px;
}


li.youth-herald-li p.title,li.youth-history-li p.title {
  font-size: 18px;
  /* font-weight: bolder; */
}

.youth-herald-li p.timeplace,.youth-history-li p.timeplace {
  line-height: 20px;
  padding-top: 10px;
}
.youth-herald-li:nth-child(2n),.youth-history-li:nth-child(2n) {
  background-color: #FFF;
}

li.youth-history-li p {
  width: 250px;
}

li.youth-history-li p.col1 {
  width: 120px;
}

li.youth-history-li p.col2 {
  width: 380px;
  height: 60px;
}

.youth-history-li .win {
  color: red;
}

.youth-history-li span.team1 {
  margin-right: 4px;
  text-align: right;
}

.youth-history-li span.team2 {
  margin-left: 4px;
  text-align: left;
}

.youth-herald span.part1 {
  margin-right: 10px;
}

.youth-herald span.part2 {
  margin-left: 10px;
}

.youth-honor {
  width: 100%;
  overflow: hidden;
}

.youth-honor-ul,ul.youth-honor-ul.manage {
  position: relative;
  overflow: hidden;
  /* background-color: blue; */
  padding: 26px 20px;
  background-image: url(../img/herald-bg.png);
}

li.youth-honor-li {
  position: relative;
  /* height: 80px; */
  border-bottom: 1px dashed #636564;
  overflow: hidden;
  padding-bottom: 20px;
}

li.youth-honor-li h2 {
  font-size: 22px;
  margin-top: 10px;
  width: 100%;
  /* background-color: blue; */
}

.youth-honor-li span.info {
  position: absolute;
  line-height: 1;
  top: 15px;
  color: #676767;
  right: 20px;
}

li.youth-honor-li span.status {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  line-height: 34px;
  height: 32px;
  border-radius: 4px;
  color: #fff;
  width: 78px;
  /* overflow: hidden; */
  border: 0;
}

i.publish-name {
  margin-right: 20px;
}

li.youth-honor-li .contents {
  padding-top: 6px;
  text-indent: 2em;
  line-height: 1.8;
}

li.youth-honor-li span.status.checked {
  background-color: #FD6600;
}

li.youth-honor-li span.status.unchecked {
  background-color: blue;
}

.youth-footer {
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.youth-pic {
  overflow: hidden;
  margin-top: 20px;
}

ul.youth-pic-ul {
  width: 1010px;
}

li.youth-pic-li {
  width: 495px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 8px;
  float: left;
  /* background-color: #C0C0F1; */
}

li.youth-pic-li img {
  width: 326px;
  height: 252px;
  float: left;
  cursor: pointer;
}

li.youth-pic-li .pics-info {
  position: relative;
  float: right;
  padding: 20px 14px 20px;
  width: 141px;
  height: 212px;
  line-height: 1;
  background-image: url(../img/herald-bg.png);
}

p.pics-title {
  border-bottom: 2px solid #ABA9AA;
  line-height: 2;
}

span.pics-name {
  font-size: 20px;
  display: inline-block;
  width: 82px;
  /* background-color: red; */
  height: 40px;
  overflow: hidden;
}

span.pics-totle {
  position: absolute;
  top: 28px;
  color: #ABA9AA;
  right: 12px;
}

p.pics-from {
  color: #ABA9AA;
  line-height: 2.4;
  margin-bottom: 5px;
}

span.pics-user {
  margin-left: 10px;
}

p.pics-update {
  line-height: 1.6;
}

p.pics-update i {
  margin-right: 10px;
}

p.pics-share {
  position: absolute;
  bottom: 18px;
}

p.pics-share a {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 2px;
  /* background-color: red; */
  background-image: url(../img/youth-share.png);
  background-repeat: no-repeat;
}

p.pics-share i {
  position: relative;
  bottom: 6px;
  color: #113764;
}

p.pics-share a.qqSpace {
  background-position: -30px 0;
}

p.pics-share a.tence {
  background-position: -61px 0;
}

p.pics-share a.wechart {
  background-position: -91px 0;
}

li.youth-video-li img {
  width: 318px;
  height: 290px;
  cursor: pointer;
}

li.youth-video-li {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 13px;
  height: auto;
}

.youth-video-info {
  height: 70px;
  line-height: 2;
  background-image: url(../img/herald-bg.png);
  padding-top: 6px;
  padding-left: 10px;
}

.youth-video-info span {
  float: right;
  margin-right: 5px;
  color: #666666;
  /* font-size: 14px; */
}

.youth-video-info i {
  margin-left: 6px;
}

.youth-video-li p.pics-share {
  bottom: 4px;
}

.youth-video-info .video-tip {
  /* font-size: 16px; */
  /* cursor: auto; */
}

.youth-video-li i.play, .index-team-videos i.play {
  background: url(../img/play1.png) no-repeat;
  position: absolute;
  display: block;
  width: 72px;
  height: 81px;
  left: 13px;
  bottom: 80px;
  z-index: 33;
  /* background-color: red; */
  cursor: pointer;
}

li.team-video-li, li.team-pics-li {
  cursor: pointer;
}

.youth-team-info,.youth-team-member {
  overflow: hidden;
  background-image: url(../img/herald-bg.png);
}

h1.youth {
  border-left: 3px #10386B solid;
  /* border: 2px solid #000000; */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0px 12px;
}

.team-detail {
  width: 204px;
  /* background-color: #C1A7A7; */
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 0;
  line-height: 2;
  font-size: 18px;
  border-right: 1px solid #B5B5B5;
}

.team-introduce {
  float: left;
  width: 705px;
  padding: 30px;
  padding-top: 0;
  line-height: 2;
  text-indent: 2em;
  text-align: justify;
  font-size: 18px;
  /* background-color: yellow; */
}

.team-detail img {
  margin: 0 auto;
  width: 160px;
  height: 200px;
  padding-bottom: 20px;
  display: block;
}

.team-detail p {
  padding-left: 5px;
  text-overflow: clip;
  width: 197px;
  white-space: nowrap;
  overflow: hidden;
}

.youth-team-member {
  margin-top: 10px;
}

ul.team-member-ul {
  overflow: auto;
  margin-left: 10px;
  height: 732px;
  background-color: #FDFDFD;
}

li.team-member-li span {
  display: inline-block;
}

li.team-member-li i {
  width: 150px;
  display: block;
}

li.team-member-li p,li.team-beats-li p {
  width: 25%;
  height: 60px;
  line-height: 50px;
  font-size: 18px;
  float: left;
  text-align: center;
}

li.team-member-li {
  overflow: hidden;
  border-bottom: 1px dashed #BBBBBB;
}

li.team-member-li.title p {
  color: #15488A;
}

.team-member {
  width: 555px;
  margin-bottom: 26px;
  float: left;
}

li.team-member-li .member-pic {
  width: 48px;
  height: 48px;
  margin: 6px auto;
  overflow: hidden;
}

.team-beats,.member-info {
  float: left;
  width: 405px;
  margin: 5px 20px;
}

.team-beats img {
  width: 100%;
}

ul.team-beats-ul {
  background-color: #FDFDFD;
}

li.team-beats-li {
  overflow: hidden;
  border-bottom: 1px dashed #BBBBBB;
}

li.team-beats-li.title span {
  width: 30px;
  height: 30px;
  /* color: #fff; */
  border-radius: 50%;
  display: inline-block;
  line-height: 31px;
  margin-top: 10px;
}

.equal span {
  /* background-color: #F9C14E; */*/;
}

li.team-beats-li.title .win span {
  color: #fff;
}

.team-beats-li.title p.win span {
  background-color: red;
}

li.team-beats-li .win {
  color: #DA464E;
}

li.team-beats-li .lose {
  color: #10386B;
}

li.team-beats-li .lose span {
  color: #fff;
  background-color: #103868;
}

p.formation {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  color: #103868;
  margin-bottom: 10px;
}

i.formation {
  margin-right: 20px;
}

.youth-footer p.page {
  line-height: 40px;
  text-align: center;
}

.page a.cur, .page a:hover {
  color: #db434a;
  font-weight: bold;
}

h1.teamshow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.star-teams.teamshow {
  /* height: 213px; */
}

.star-team.teamshow {
  height: 260px;
}

.dynamic-div {
  background-color: #eee;
  position: relative;
  width: 652px;
  overflow: hidden;
  /* height: 1088px; */
  padding: 0 15px;
  float: left;
}

.dynamic-div-pic {
  width: 665px;
}

.dynamic-div-pic img {
  width: 217px;
}

li.dynamic-li p {
  height: 44px;
  line-height: 44px;
}

li.dynamic-li p .time {
  float: right;
  right: 25px;
}

i.dynamic-team-name {
  color: #000;
  margin-right: 20px;
  font-size: 16px;
  float: left;
}

li.dynamic-li {
  padding-top: 10px;
}

ul.dynamic-ul {
  padding-bottom: 20px;
}

a.teamshow-more {
  position: absolute;
  right: 0;
  top: -31px;
}

.dynamic-latest {
  overflow: hidden;
  position: relative;
}

a.dynamic-more {
  position: relative;
  left: 518px;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  top: 12px;
}

.team-create {
  position: relative;
  margin-top: 20px;
  height: 404px;
  background-image: url(../img/team-create.png);
  background-repeat: no-repeat;
  max-width: 1000px;
}

.youth-history-li span.equal i {
  padding-left: 10px;
}

a.team-create-bt {
  display: block;
  width: 253px;
  position: absolute;
  color: #fff;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #10386B;
  top: 328px;
  left: 385px;
}

.youth-pics {
  background-color: #fff;
  padding-bottom: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.youth-pic-show {
  position: relative;
  width: 960px;
  height: 596px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: red; */
}

.youth-pic-show img {
  width: 960px;
  height: 596px;
  float: left;
}

.youth-pics-show {
  overflow: hidden;
  width: 5000px;
  position: absolute;
}

a.youth-pic-bt {
  width: 26px;
  height: 100px;
  /* background-color: #E8E6E7; */
  /* background-color: #fff; */
  display: inline-block;
  position: absolute;
  z-index: 3;
  top: 240px;
  background-position: center;
  background-repeat: no-repeat;
}

at.youth-pic-bt {
  background-image: url(../img/star-left.png);
}

a.right.youth-pic-bt {
  right: 20px;
  background-image: url(../img/star-right.png);
}

.youth-pics a.cur {
  position: absolute;
  padding-left: 26px;
  display: inline-block;
  top: 28px;
  right: 32px;
  background-image: url(../img/youth-pic-full.png);
  background-repeat: no-repeat;
}

a.youth-pic-bt:hover {
  background-color: #10386B;
}

a.left.youth-pic-bt {
  background-image: url(../img/star-left.png);
  left: 20px;
}


.youth-bg .wrapper {
  margin: 0 auto;
}

li.youth-banner-li.index {
  background-position: 0px 0px;
}

li.youth-banner-li.team-info {
  background-position: -143px 0;
}

li.youth-banner-li.pic.cur {
  background-position: -287px -70px;
}

li.youth-banner-li.video {
  background-position: -429px 0;
}

li.youth-banner-li.herald {
  background-position: -572px 0;
}

li.youth-banner-li.history {
  background-position: -715px 0;
}

li.youth-banner-li.honor {
  background-position: -858px 0;
}

li.youth-banner-li.index.cur {
  background-position: 0px -70px;
}

li.youth-banner-li.team-info.cur {
  background-position: -143px -70px;
}

li.youth-banner-li.pic {
  background-position: -287px 0;
}

li.youth-banner-li.video.cur {
  background-position: -429px -70px;
}

li.youth-banner-li.herald.cur {
  background-position: -572px -70px;
}

li.youth-banner-li.history.cur {
  background-position: -715px -70px;
  color: #10386B;
}

li.youth-banner-li.honor.cur {
  background-position: -858px -70px;
}

li.youth-banner-li.cur {
  color: #10386B;
}

ul.youth-banner-ul {
  width: 1001px;
  overflow: hidden;
}

.index-right {
  width: 278px;
  overflow: hidden;
  /* height: 600px; */
  /* background-color: red; */
  float: right;
}

.index-content {
  margin-top: 20px;
  overflow: hidden;
}

.index-team-info .team-detail {
  border: 0;
  margin: 0 auto;
}

.index-team-info, .index-team-member, .index-team-beats, .index-team-honor, .index-team-video,.announce {
  border: 1px solid #E0E0E0;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

p.team-info-name {
  color: #10386B;
  text-align: center;
}


.index-team-member img {
  width: 250px;
}

.index-team-member {
  text-align: center;
  padding-bottom: 10px;
}

.index-team-member .youth {
  text-align: left;
}

.index-team-honor p {
  width: 250px;
  margin: 0 auto;
}

.index-team-videos {
  width: 260px;
  position: relative;
  /* background-color: red; */
  margin: 0 auto;
  cursor: pointer;
}

.index-team-videos img {
  width: 260px;
  height: 237px;
}

.index-team-videos i.play {
  bottom: -14px;
}

.index-team-beats-rate.win-rate {
  position: relative;
  width: 120px;
  height: 120px;
  /* background-color: #DA464E; */
  /* border-radius: 50%; */
  margin: 0 auto;
  margin-bottom: 10px;
  float: none;
}

.index-left {
  width: 700px;
  /* height: 700px; */
  overflow: hidden;
  /* background-color: #E09C9C; */
  float: left;
}

.announce {
  padding-bottom: 0;
  height: 330px;
}

.announces {
  width: 260px;
  float: right;
  padding: 15px;
  overflow: hidden;
}

.announce img {
  width: 408px;
  height: 330px;
  float: left;
}


.announces a,.index-team-honor a {
  font-size: 14px;
  line-height: 34px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.dash-wrapper .dash {
  border-top: 1px dashed #B6B6B6;
  margin-bottom: 4px;
}

.dash-wrapper h1.youth {
  margin-left: 0;
  margin-bottom: 10px;
  margin-top: 0;
}

.index-box {
  border: 1px solid #E0E0E0;
  overflow: hidden;
  padding: 16px;
  margin-bottom: 20px;
}


p.no-info {
  margin-top: 20px;
}

h1.youth .more {
  color: #666666;
  font-size: 14px;
  float: right;
  line-height: 1;
  cursor: pointer;
  right: 10px;
}

li.youth-herald-li.title,li.youth-history-li.title {
  background-color: #D0DDED;
}

.index-pics .big {
  width: 670px;
  height: 334px;
}

.index-team-honor a {
  padding-left: 15px;
}

.index-herald .youth-herald-li p {
  width: 222px;
}

.index-beats .youth-history-li p {
  width: 90px;
}
.index-beats p.timeplace.col3 {
  width: 150px;
}

.index-beats .youth-history-li .col2 {
  width: 280px;
  /* background-color: blue; */
  text-align: center;
  height: 60px;
}
.youth-history-li .col2 .team1,
.youth-history-li .col2 .team2,
.youth-history-li .col2 .splits{
  width: 98px;
  display:inline-block;
  overflow:hidden;
  /* background-color:yellow; */
  white-space: nowrap;
}
.youth-history-li .col2 .splits{
  width: auto;
  max-width: 56px;
  /* background-color: #5B5B64; */
}


.index-team-beats {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.index-team-beats p.win {
  position: absolute;
  width:2em;
  font-size: 20px;
  top: 24px;
  left: 30px;
}

.beatball {
  width: 33%;
  /* height: 50px; */
  /* background-color: #CCB1B1; */
  /* margin-right: 20px; */
  margin-top: 20px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}

.beatball-beats {
  width: 100%;
  height: 60px;
}


.beatball.equal {
  /* background-color: blue; */
}

.win.beatball i {
  background-color: #DA464E;
  color: #fff;
}
.equal.beatball i {
  background-color: #A0A0A0;
}
.lose.beatball i {
  background-color: #10386B;
  color: #FFF;
}

i.ico-creat {
  background: #10386b url(../img/ico-creat-team.png) no-repeat center center;
}

.creat-info h2 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 26px;
  z-index: 0;
}

.creat-info {
  padding: 54px;
  padding-top: 0;
  padding-bottom: 20px;
}

.must-fill {
  background-color: #EFF6FF;
  overflow: hidden;
  /* height: 500px; */
  font-size: 16px;
}

.creat-info i {}

.creat-info h2 b {
  color: red;
  margin-left: 6px;
}

.choose-fill {
  background-color: #F1F1F1;
  overflow: hidden;
  /* height: 500px; */
}

.fill-ul li {
  height: 44px;
  margin-bottom: 30px;
  position: relative;
}

ul.fill-ul label {
  width: 200px;
  height: 100%;
  line-height: 44px;
  float: left;
  text-align: right;
  margin-right: 20px;
  /* background-color: red; */
}

ul.fill-ul {
  margin-top: 30px;
}

ul.fill-ul input,ul.fill-ul select {
  height: 40px;
  line-height: 40px;
  /* width: 250px; */
  padding: 0 1%;
  border:  1px #ccc solid;
}

input.creat {
  width: 300px;
  display: block;
}

input.creat.qq {
  margin-top: 16px;
}

li.creat-contact-li label {
  /* height: 90px; */
}

li.creat-contact-li span {
  font-size: 14px;
  color: #999999;
  line-height: 44px;
}

.fill-ul input.ver {
  float: left;
  width: 162px;
  margin-right: 10px;
}

span.ver-span {
  position: absolute;
  top: 12px;
  cursor: pointer;
  margin-left: 10px;
}

select.area {
  width: 156px;
  padding:0;
}

ul.fill-ul img {
  width: 128px;
  height: 44px;
}

li.team-flag-li {
  height: 138px;
}

li.team-introduce-li {
  height: 320px;
}

.preview {
  float: left;
  width: 100px;
  /* height: 137px; */
  /* background-color: red; */
  overflow: hidden;
  border: 1px solid #ccc;
}

div.preview img {
  width: 100px;
  height: 100px;
  border: 0;
}

.preview label.browse {
  width: 100%;
  height: 100px;
  text-align: left;
  display: block;
  line-height: 0.4;
  background-color: #fff;
  cursor: pointer;
}

a.creat-bt {
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: red;
}

a.creat-submit {
  margin-right: 20px;
  background-color: #10386B;
}

.creat-bts {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
}

a.creat-cancle {
  background-color: #919191;
}

.creat-member-no-li i{
  position: relative;
  margin-left: -30px;
}

.preview label.browse i {
  padding-left: 10px;
}

li.team-introduce-li textarea {
  padding: 20px;
  padding-bottom: 50px;
}

.heart {
  width: 54px;
  height: 100px;
  text-align: center;
  /* background-color: red; */
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer;
}

.heart img {
  width: 54px;
  height: 54px;
}

.heart p {
  padding-top: 60px;
  font-size: 16px;
  color: #fff;
}

.heart.checked p {
  /* color: red; */
}

p.pics-share.pic-show {
  right: 20px;
  bottom: 0px;
  /* display: block; */
}

.pagenav.herald {
  margin-bottom: 20px;
}

.team-introduce-li p.count {
  line-height: 32px;
  margin-left: 472px;
}

p.time {
  padding-bottom: 12px;
  padding-left: 10px;
}


.beatball.win .circle-text {
  color: #DA4B4E;
}

.beatball.equal .circle-text {
  color: #000;
}
.beatball.lose .circle-text {
  color: #0D3268;
}
input[type=file] {
	display: block;
}

input#team-flag {
	width: 100%;
}

.manage-pic, .manage-honor {
  width: 1000px;
  height: 50px;
  /* background-color: #e2e2e2; */
  margin-bottom: 10px;
}

.manage-pic .bt,.manage-honor .bt {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: #009DD9;
  color: #fff;
  border-radius: 6px;
  margin-left: 10px;
  border: 1px solid #727272;
  display: inline-block;
}

input.uploadpic.bt {
  /* background-color: #009DD9; */
  /* color: #fff; */
}

input.creatpic.bt {
  /* background-color: #BDA499; */
  /* color: #dddddd; */
}

p.manage-pic-edit {
  height: 30px;
  /* background-color: red; */
}

p.manage-pic-edit .bt {
  margin-top: 6px;
  margin-left: 5px;
  height: 20px;
  width: 35px;
  border-radius: 2px;
}



.pop_box .conts {
  padding: 16px;
}

.pop_box .label {
  width: 80px;
  /* background-color: red; */
  text-align: right;
  height: 100%;
  line-height: 30px;
  padding-right: 6px;
  display: inline-block;
  float: left;
}

.pop_box .inp {
  width: 260px;
  height: 30px;
  padding: 0 1%;
  display: inline-block;
  /* background-color: yellow; */
  margin-right: 10px;
}

.pop_pic textarea.inp {
  height: 150px;
  display: inline-block;
  padding: 1%;
}

.pop_box li.pop-pic-2 {
  height: 150px;
  position: relative;
}

.pop_box li.pop-pic-1 {
  height: 50px;
}

.pop_pic span.count {
  position: absolute;
  display: inline-block;
  top: 12px;
  height: 20px;
  line-height: 1;
  /* color: yellow; */
  /* background-color: red; */
  left: 367px;
}

.pop_box li.pop-pic-1 span {
  line-height: 50px;
}

.pop-pic-2 a.confirm {
  position: absolute;
  bottom: 0;
  background-color: #15498A;
  color: #fff;
  width: 60px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}


.pop_pic_upload select.pics-select {
  width: 100px;
  height: 28px;
  margin-left: 10px;
  /* margin-bottom: 30px; */
}

ul.pop-pic-upload {
  position: relative;
  width: 100%;
  overflow: hidden;
}

ul.pop-pic-upload .count {
  position: absolute;
  left: 376px;
  top: 2px;
}

.pop_pic_upload textarea.inp {
  min-height: 60px!important;
}

.pop_pic_upload ul.pop-pic-upload .confirm {
  width: 70px;
  height: 38px;
  display: inline-block;
  background: #10386B;
  text-align: center;
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.pop-pic-upload input.pic-ico {
  width: 40px;
  height: 40px;
  background-color: #D49E9E;
  float: left;
  margin-top: 6px;
}

.pop-pic-upload li.uploaded-pic-li {
  height: 100px;
  width: 406px;
  overflow: hidden;
  margin-top: 6px;
  border: 2px solid #7A7470;
  /* background-color: red; */
}

ul.pop-pic-upload img.uploaded-pic {
  width: 100px;
  height: 100px;
  margin-right: 2px;
}

.uploaded-pic-div {
  width: 408px;
}

.uploaded-pic-div div {
  position: relative;
  overflow: hidden;
  float: left;
}

.pop-pic-upload .uploaded-pic-li div.uploaded-pic-div a {
  position: absolute;
  right: 5px;
  top: 3px;
  margin: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/close.png);
  display: none;
}

.pop-pic-upload .uploaded-pic-li div.uploaded-pic-div div:hover a {
  display: block;
}

.pop_pic_upload .pop_w {
  height: auto;
}

.pic-div {
  /* overflow: hidden; */
  /* background-color: #f0f0f0; */
  position: relative;
  width: 246px;
  height: 300px;
  margin-right: 6px;
  margin-bottom: 10px;
  float: left;
}

.pic-div input.pic-name {
  line-height:1.2;
  margin-top: 4px;
  width: 240px;
  padding: 0 1%;
  /* background-color: blue; */
  font-size: 14px;
  height: 30px;
}

.pic-manage {
  width: 1000px;
  overflow: hidden;
}

.pic-manage .pic-wrapper {
  width: 1008px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pic-div a {
  display: inline-block;
}

.pic-div a.close {
  display: none;
}

.pic-div img {
  width: 246px;
  height: 224px;
}

li.youth-herald-li .edit {
  position: absolute;
  line-height: 60px;
  right: 18px;
  color: #10386B;
}

.herald-edit-div {
  background-color: #F0F0F0;
  text-align: left;
  /* background-color: red; */
  padding: 15px 30px;
  width: 1000px;
}

.herald-edit-div h4 {
  line-height: 28px;
  height: 28px;
  font-size: 16px;
}

.herald-edit-div .team1 {
  margin-right: 10px;
}

.herald-edit-div input,.herald-edit-div select {
  line-height: 28px;
  height: 28px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0 1%;
}

.herald-edit-div .team2 {
  margin-left: 10px;
}

.herald-edit-div .bt {
  display: inline-block;
  width: 55px;
  line-height: 30px;
  height: 30px;
  color: #fff;
  background-color: #10386B;
  border-radius: 5px;
}

.herald-edit-div .bts {
  margin-top: 10px;
}

.herald-edit-div .bt.cancle {
  color: #000;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  margin-left: 10px;
}

.herald-edit-div a.delete {
  margin-left: 20px;
  color: #10386B;
}

.youth-honor-manage {
  overflow: hidden;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.manage-honor .bt {
  background-color: #DA464E;
  border: 0;
  padding-left: 4px;
  width: 110px;
  margin-left: 0;
}

.manage-honor .bt img {
  top: 7px;
  position: relative;
  margin-right: 4px;
}

h3.manage-honor-h3 {
  background: 0;
  line-height: 50px;
}

li.youth-honor-li.manage .bt {
  position: absolute;
  height: 30px;
  line-height: 38px;
  top: 0;
  right: 10px;
  color: #10386B;
  display: inline-block;
}

li.youth-honor-li.manage .contents {
  text-indent: 0;
  line-height: 1.8;
}

li.youth-honor-li.manage {
  padding-bottom: 4px;
}

li.youth-honor-li.manage .bt.edit {
  right: 50px;
}

ul.youth-honor-ul.manage {
  padding: 4px 0 0;
  margin-bottom: 20px;
  border-top: 1px solid #636564;
}

.youth-honor-manage h1.youth {
  margin-left: 0;
  border: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

li.team-member-li p.col1 {
  width: 50px;
}
li.team-member-li p.col2 {
  width: 70px;
}
li.team-member-li p.col3 {
  width: 100px;
}
li.team-member-li p.col4 {
  width: 100px;
}
li.team-member-li p.col5 {
  width: 100px;
}
li.team-member-li p.col6 {
  width: 100px;
}

h1.youth.team-edit {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}


img.member-ico {
  width: 130px;
  height: 130px;
}

label.info-label {
  line-height: 30px;
  width: 255px;
  font-size: 18px;
  display: block;
  height: 50px;
  float: left;
  margin-left: 20px;
}

label.info-label input,label.info-label select {
  margin-left: 14px;
  font-size: 18px;
  /* text-align: center; */
  padding-left: 5px;
  width: 180px;
  color: #666666;
  border: 1px solid #CCCCCC;
  line-height: 30px;
  height: 32px;
}

textarea.member-note {
  border: 1px solid #CCC;
  font-size: 18px;
  padding: 1% 1%;
  width: 340px;
  height: 200px;
  float: left;
}

.member-ico-div {
  height: 200px;
  width: 130px;
  float: left;
  /* background-color: #D3D3EF; */
}

label.member-note-label {
  font-size: 18px;
  display: block;
  margin-right: 10px;
  float: left;
}

.member-note-div {
  clear: both;
  /* background-color: #A3B7A3; */
  overflow: hidden;
}

.member-info .bts, .member-team-info .bts,.bts {
  clear: both;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.member-info .bts .bt, .member-team-info .bts .bt,.bts .bt {
  background-color: #10386B;
  width: 70px;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  display: inline-block;
}
.member-info .bts .bt.cancle, .member-team-info .bts .bt.cancle,.bts .bt.cancle {
  color:#000;
  background-color:#f0f0f0;
  border:1px solid #ccc;
}

.member-info p.info-tip {
  font-size: 14px;
  line-height: 2;
}

.member-info p.info-tip.title {
  color: #DA464E;
}

.member-info .info-radio {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  font-size: 18px;
}

.member-info .info-radio i,.team-member-ul .col6 i {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.member-info .info-radio i.onplay,.team-member-ul .col6 i.onplay {
  background-color: #628E3E;
}

.member-info .info-radio i.alternates,
.team-member-ul .col6 i.alternates {
  background-color: #959595;
}

li.team-member-li.select {
  background-color: #F0F0F0;
}

.youth-team-member .operate {
  height: 50px;
  position: relative;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.youth-team-member .operate input {
  height: 100%;
  float: left;
  margin-left: 30px;
}

.youth-team-member .operate .bt {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  margin-top: 10px;
  width: 60px;
  border-radius: 6px;
  background-color: red;
}

.youth-team-member .operate .bt.add {
  margin-left: 20px;
  width: 100px;
  color: #fff;
  background-color: #DA464E;
}

.youth-team-member .operate .bt.delete,
.youth-team-member .operate .bt.refrash {
  position: absolute;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.youth-team-member .operate .bt.refrash{
  right: 20px;
}

.youth-team-member .operate .bt.delete {
  right: 100px;
}


.member-serve-info {
  clear: both;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: red; */
  overflow: hidden;
  background-color: #f0f0f0;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.member-serve-info p {
  display: inline-block;
}

.member-serve-info p.info1 {
  margin-left: 27px;
  float: left;
}

.member-serve-info p.info2 {
  float: right;
  right: 354px;
  position: absolute;
}

.serve-info .serve-info-img {
  width: 456px;
  float: left;
}

.team-member-banner {
  margin-top: 20px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
}

.team-member-banner a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* background-color: red; */
}

.team-member-banner a.cur {
  border-bottom: 2px solid #10386B;
}

.serve-type {
  width: 500px;
  float: left;
  padding: 20px 22px;
}

input.server-type-radio {
  margin-left: 50px;
  height: 50px;
  float: left;
}

.serve-type label {
  height: 50px;
  width: 423px;
  line-height: 50px;
  margin-left: 10px;
  float: left;
}

.serve-info {
  overflow: hidden;
  margin-bottom: 30px;
}

p.serve-type-info {
  margin-left: 50px;
  font-size: 18px;
}

p.serve-type-tip {
  color: #DA464E;
  padding-top: 40px;
  font-size: 16px;
}

.team-member-ul-title li.team-member-li.title {
  border: none;
}

label.info-label select {
  width: 185px;
}

.member-add-info-wrapper {
  width: 1000px;
  background-color: #F0F0F0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-bottom: 30px;
}

.member-add-info-wrapper label.info-label {
  padding-right: 200px;
}

.member-add-info-wrapper .info-radio {
  padding-right: 200px;
}

.member-add .member-info {
  margin-left: 0;
}
.member-add .member-info .bts{
  margin-bottom: 20px;
}

.member-team-info {
  overflow: hidden;
  margin-bottom: 50px;
}

ul.member-team-info-ul {
  overflow: hidden;
}

.member-team-info .bts {
  margin-left: 20px;
}

li.member-team-info-li {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #f0f0f0;
}

li.member-team-info-li p {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}

.info-detail i.no {
  width: 20px;
  position: relative;
  height: 20px;
  display: inline-block;
  background-color: #10386B;
  color: #fff;
  margin-right: 10px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}

.member-team-info-li>a.bt{
  position: absolute;
  display:inline-block;
  right: 10px;
  height: 20px;
  line-height: 20px;
  top: 18px;
  color: #10386B;
}

.hide {
  display: none!important;
}

.edit-team-name,.team-area,.team-members,.team-intro{
  background-color: #f0f0f0;
  /* transition: all 0.5s ease-out 0s; */
}

div.edit-team-name p {
  line-height: 50px;
  height: 50px;
}

span.team-level {
  margin-left: 100px;
}

span.team-noedit {
  margin-left: 20px;
  color: #da464e;
  background-image: url(../img/youth-team-block.png);
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 20px;
}

input.newTeam {
  margin-left: 10px;
  height: 26px;
}

.team-area select {
  height: 30px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.member-team-info-li label.place {
  margin-left: 30px;
}

.team-members {
  padding-top: 20px;
  padding-bottom: 20px;
}

.team-members input {
  height: 30px;
  padding: 0 1%;
  line-height: 30px;
}

.team-intro {
  padding: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
.member-team-info-li textarea {
  display: inline-block;
  background-color: #f0f0f0;
  width: 100%;
  height: 200px;
  text-align: left;
  line-height: 2;
}


a.bt.upload, label.bt.upload {
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: #10386B;
  display: block;
  /* border-radius: 10px; */
  color: #fff;
  margin: 0 auto;
}

.icon-left,.icon-right {
  width: 500px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
  float: left;
}

.team-icon-div {
  padding-top: 30px;
}

.team-icon-big {
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border: 2px solid #f0f0f0;
}

.team_logo_preview input[type="file"]{
    display: none;
}

.team_logo_preview a.upload {
	display: none;
}
.team-icon-big img {
  width: 300px;
  height: 300px;
}


.btns a.upload.bt {
  width: 100px;
}

a.uploadbt.bt {
  width: 148px;
  height: 40px;
  line-height: 40px;
}

.team-icon-middle,.team-icon-small {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid #f0f0f0;
}

.team-icon-small,.team-icon-small img {
  width: 60px;
  height: 60px;
}

.team-icon-middle img {
  width: 100px;
  height: 100px;
}

.edit-info .edui-container {
  width: 800px;
/*  height: 200px;*/
  border: 2px solid #ccc;
  /* background-color: #f0f0f0; */
}

.edit-info li{line-height:30px}

.wrapper.edit {
  /* background-color: #f0f0f0; */
}

.edit-info {
  padding: 20px;
  /* background-color: #f0f0f0; */
}

.edit-info label {
  height: 30px;
  width: 100px;
  text-align: right;
  line-height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.edit-info input {
  height: 30px;
  display: inline-block;
  padding: 0 1%;
  border: 1px solid #ccc;
}

.edit-info li {
  margin: 10px;
}

.edit-info {
  padding-top: 0;
  margin-top: 0;
}

p.team-info-2 .team-area {
  background-color: #fff!important;
}

.change-icon {
  position: relative;
  top: -35px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  background-image: url(../img/bg.png);
  cursor: pointer;
}


.edit-info input.title {
  width: 250px;
}

.edit-info label.content {
  position: relative;
  top: -330px;
}
.edit-info .edui-container{
	display: inline-block;
}
label.for-true,label.for-false {
  width: 20px;
}

#for-true,#for-false{
  position: relative;
  top: 10px;
}


.youth-herald-info {
  overflow: hidden;
  width: 1000px;
  height: 60px;
}

ul.fill-ul select {
  +margin-top: 14px;
  padding:0 0 0 1%;
}

li.dynamic-li p span {
  float: left;
}

.pic-div .status_bar {
  position: absolute;
  width: 246px;
  line-height: 30px;
  font-size: 16px;
  height: 30px;
  /* background-color: red; */
  background-image: url(../img/bg.png);
  top: 194px;
  left: 0;
  color: #fff;
}

.pic-div .status_bar .cover {
  float: left;
  margin-left: 20px;
  color: #fff;
}

.pic-div .status_bar .delete {
  float: right;
  margin-right: 20px;
  color: #fff;
}

.pic-div input.pic-name.edit-inp {
  border: 1px #ccc solid;
}

.pic-div a.statu,.pic-div a.edit {
  width: 110px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background-color: #10386b;
  margin-top: 8px;
}
.pic-div a.edit {
  width: 246px;
}

.pic-div a.statu.save {
  float: left;
}

.pic-div a.statu.cancle {
  float: right;
}

a.save-serve.bt {
    background-color: #10386B;
    width: 90px;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
p.info-detail.summary {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: 900px;
}

a.team-create-bt:visited {
  color: #fff;
}


.equap {
	background-image: url(../img/equip-bg.jpg);
	background-repeat: no-repeat;
}

img.equap-img {
  width: 1000px;
  margin: 0 auto 30px;
  display: block;
  padding-top: 150px;
}