/*home*/
ul.list{
  margin-top: 2.6em;
}

ul.list>li{
  display: block;
  width: 100%;
  height: 4.5em;
  border-bottom: 0.1em solid #ccc;
  background: #fff;
}
ul.list>li>.wrap>span{
  font-size: 0.8em;
  line-height: 2.8em;
}
ul.list>li>.wrap>.name{
  float: left;
  display: inline-block;
  width: 30%;
}
ul.list>li>.wrap>.tele{
  float: left;
  display: inline-block;
  width: 40%;
}
ul.list>li>.wrap>.chilren_name{
  float: left;
  display: inline-block;
  width: 30%;
  text-align: right;
}
ul.list>li>.wrap>.status{
  text-indent: 2.5em;
  float: left;
  display: inline-block;
  width: 40%;
}
ul.list>li>.wrap>.check_right{
  color:#32b16c;
  background: url(../images/check_right.png) no-repeat 0% 50%;
  background-size: 1.8em;
}
ul.list>li>.wrap>.check_wrong{
  color:#ff0000;
  background: url(../images/check_wrong.png) no-repeat 0% 50%;
  background-size: 1.8em;
}
ul.list>li>.wrap>.price{
  float: left;
  display: inline-block;
  width: 20%;
}
ul.list>li>.wrap>.price>#price{
  color:#32b16c;
}
ul.list>li>.wrap>.pay{
  float: right;
  text-align: center;
  display: inline-block;
  width: 30%;
  background: #239256;
  width: 6.2em;
  height: 2.2em;
  line-height: 2.2em;
  color: #fff;
  border-radius: 0.3em;
  position: relative;
  top: 0.4em;
}

#dialog{
  width: 90%;
  padding: 2em 0;
  font-size: 1.2em;
  box-sizing: border-box;
  border: 0.4em solid #eeeeee;
  margin: 0 auto;
  background: #fff;
  position: fixed;
  /*left: 5em;*/
  top: 5em;
  z-index: 3;
  display: none;
}
#dialog>#close_bt{
  display: block;
  width: 1em;
  height: 1em;
  background: #eeeeee;
  color:#9d9d9d;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  text-align: center;
  line-height: 0.8em;
  font-weight: 700;
}
#dialog>.user_info{
  text-align: center;
  box-sizing: border-box;
}
#dialog>.pay_info{
  text-align: center;
  margin-top: 0.4em;
}
#dialog>.pay_info>span{
  color: #f88421;
  font-size: 1.2em;
}
#dialog>.bt{
  text-align: center;
  margin-top: 1em;
}
#dialog>.bt>span{
  padding: 0.4em 1.8em;
  color: #fff;
  font-size: 0.9em;
}
#dialog>.bt>span.ok{
  background: #239256;
}
#dialog>.bt>span.cancel{
  background: #8a8a8a;
}
#mask{
  background: #000;
  opacity: 0.5;
  height: 40em;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}
