 * {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #333;
    font-family: "微软雅黑";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

    a:hover {
        color: rgb(139,194,113);
    }

.cls_hand{
	cursor:pointer;
}
.container {
    width: 1201px;
    margin: 0 auto;
    /*background-color: rgb(244,245,244);*/
}


.data_foot_rigth { 
    width:460px;
    margin:0 auto;
    margin-top:10px; 
    height:100%;
    overflow:hidden; 
}


.data_foot_rigth ul li {
    float:left;
    /*vertical-align:middle;*/
}
.data_foot_rigth ul li a{
    display:block;
   padding:1px 15px 1px 15px;
   margin:3px;
    height:23px;
    line-height:23px;
    background-color:#fff;
    text-align:center;
    color:rgb(111,138,136);
    border:1px solid red;
}

.data_foot_rigth ul li a:hover {
    color:#fff;
    background-color:rgb(207,0,57);
    cursor:pointer;
}

.span {
    vertical-align:middle;
    height:35px;
    line-height:35px;
}




/*头部*/

#whole {
    width: 1201px;
    margin: 0 auto;
}

.position {
    margin-left: auto;
    margin-right: auto;
    width: 1081px;
}

.nav_text {
    width: 100px;
    height: 30px;
    float: left;
}

.sign {
    width: 250px;
    height: 40px;
    float: right;
}

.sign_2 {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #717171;
    text-align: center;
    padding-top: 10px;
}

.change {
    width: 100px;
    height: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #717171;
    text-align: center;
    padding-top: 10px;
    background-image: url(/images/jiange.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.logo_long {
    float: left;
    height: 104px;
    width: 326px;
}

.logo {
    width: 236px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.logo_nav {
    height: 104px;
    background-size: 104px 40px;
    background-position: bottom;
    background-image: url(/images/nav_back.png);
    background-repeat: repeat-x;
}

#logo_right {
    float: left;
    width: 875px;
    height: 104px;
}

#notice {
    width: 875px;
    height: 44px;
    text-align: center;
    padding-top: 20px;
}
/*#notice_1{
	text-align:center;
	margin-top:auto;
	margin-bottom:auto;
	}
*/

#main_nav {
    height: 40px;
    background-image: url(/images/nav_back.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#search_top {
    float: left;
    overflow: hidden;
    width: 1201px;
    height: 80px;
    background-color: #efefef;
}

#sports {
    float: left;
    overflow: hidden;
    width: 266px;
    height: 80px;
}

#sports_1 {
    width: 166px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.step {
    float: left;
}

#step {
    height: 80px;
    width: 930px;
    margin-left: 266px;
}

#step_1 {
    width: 210px;
    height: 80px;
}

#step_2 {
    width: 210px;
    height: 80px;
}

#step_3 {
    width: 210px;
    height: 80px;
}

#step_ph_1 {
    float: left;
    margin-top: 20px;
    width: 160px;
}

#step_ph_2 {
    float: left;
    margin-top: 20px;
    width: 150px;
}

#step_ph_3 {
    float: left;
    margin-top: 20px;
    width: 150px;
}

#step_ph_1_1 {
    float: left;
    margin-top: 22px;
    width: 36px;
}

#step_ph_2_1 {
    float: left;
    margin-top: 22px;
    width: 36px;
}

#step_ph_3_1 {
    float: left;
    margin-top: 22px;
    width: 36px;
}

#input_search {
    height: 80px;
    width: 300px;
}

#search_in {
    height: 24px;
    width: 180px;
    overflow: hidden;
}

#input_wriht {
    float: left;
    width: 180px;
    padding-top: 26px;
    margin-left: 10px;
}

#search_img {
    float: left;
    overflow: hidden;
    width: 66px;
    height: 30px;
    padding-top: 27px;
}

.clear {
    clear: both;
}
/*头部*/
