/*公共样式*/
.clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
.section {
    clear: both;
    margin: 20px auto 0;
    padding-bottom: 20px;
    width: 1000px;
}
.section > header{
    font-size: 24px;
    color: #fff;
    text-align: left;
    text-indent: 12px;
    height: 44px;
    line-height: 40px;
}
.section > header .subtitle {
    font-size: 29px;
}
.section > .this_body {
    padding: 28px 20px;
}
.text_center {
    text-align: center;
}
/*公共样式 end*/

/*header 颜色设置*/
.section_1 > header {
    background: #00a0e9;
}
.section_1 > header .subtitle {
    color: #005277;
}
.section_2 > header {
    background: #f18f00;
}
.section_2 > header .subtitle {
    color: #915600;
}
.section_3 > header {
    background: #7cb755;
}
.section_3 > header .subtitle {
    color: #43662c;
}
.section_4 > header {
    background: #9a653e;
}
.section_4 > header .subtitle {
    color: #3c2616;
}
.section_5 > header {
    background: #9ba6d0;
}
.section_5 > header .subtitle {
    color: #13235e;
}
.section_6 > header {
    background: #a4c4bd;
}
.section_6 > header .subtitle {
    color: #4f6d67;
}
.section_7 > header {
    background: #dc7f7d;
}
.section_7 > header .subtitle {
    color: #912e2c;
}
/*header 颜色设置 end*/


.section_1 > .this_body .video_area {
    display: inline-block;
    float: left;
    width: 560px;
    height: 400px;
    background: #434343;
}
.section_1 > .this_body .this_row2 {
    clear: both;
    text-align: center;
    padding: 24px 0;
}


.section_2 > .this_body .ul_line {
    display: inline-block;
    font-size: 20px;
    color: #915600;
    padding-left: 24px;
    background: url(../img/ul_icon.png) left 6px no-repeat;
}
.section_2 > .this_body .s2_1 {
    display: block;
    margin: 12px auto;
}

.section_2 > .this_body .ul_line2 {
    display: inline-block;
    font-size: 20px;
    color: #915600;
    margin-top: 12px;
    padding-left: 24px;
}
.section_2 > .this_body .s2_2 {
    float: right;
    display: inline-block;
    width: 400px;
    text-align: center;
}

.section_4 > header {
    font-size: 22px;
}
.section_4 > header .subtitle {
    font-size: 24px;
}
.section_4 > .this_body .ul_line {
    display: inline-block;
    font-size: 20px;
    color: #3c2616;
    padding-left: 24px;
    margin-bottom: 20px;
    background: url(../img/ul_icon2.png) left 6px no-repeat;
}

.section_4 > .this_body .ul_line2 {
    display: inline-block;
    font-size: 20px;
    color: #735947;
    padding-left: 40px;
    margin-bottom: 20px;
    text-indent: -18px;
}

.section_4 > .this_body .video_area {
    text-align: center;
}

.section_4 > .this_body .video_area .video {
    float: left;
    width: 420px;
    height: 300px;
    background: #434343;
    margin: 33px 0 0 33px;
}

.section_5 > .this_body .left {
    float: left;
    width: 60%;
    padding:10px 0;
}
.section_5 > .this_body .right {
    float: left;
    width: 40%;
    padding:10px 0;
}

.section_5 > .this_body .ul_line {
    display: inline-block;
    font-size: 20px;
    color: #13235e;
    padding-left: 24px;
    margin-bottom: 20px;
    background: url(../img/ul_icon2.png) left 6px no-repeat;
}

.section_5 > .this_body .ul_line2 {
    display: inline-block;
    font-size: 20px;
    color: #13235e;
    padding-left: 40px;
    margin-bottom: 20px;
    text-indent: -18px;
}

.section_5 > .this_body .video_area {
    text-align: center;
}
.section_5 > .this_body .video_area .wideo_wrap{

    float: left;
    margin: 33px 0 0 33px;
}

.section_5 > .this_body .video_area .video {
    width: 420px;
    height: 300px;
    margin-bottom: 14px;
    background: #434343;
}

.section_5 > .this_body .video_area .wideo_wrap p{
    font-size: 18px;
    padding-top: 4px;
}


.section_6 > .this_body .left {
    float: left;
    width: 45%;
    padding:80px 0 0 80px;
    box-sizing: border-box;
}
.section_6 > .this_body .right {
    float: left;
    width: 55%;
    padding:10px 0;
}

.section_6 > .this_body .ul_line {
    display: inline-block;
    font-size: 20px;
    color: #4f6e68;
    padding-left: 24px;
    margin-bottom: 20px;
    background: url(../img/ul_icon3.png) left 6px no-repeat;
}

.section_6 > .this_body .video {
    width: 420px;
    height: 300px;
    margin-left: 36px;
    background: #434343;
}


.section_7 > .this_body .ul_line {
    font-size: 20px;
    color: #5e1412;
    padding-left: 24px;
    margin-bottom: 20px;
    background: url(../img/ul_icon4.png) left 6px no-repeat;
}
