@charset "UTF-8";
/* reset */
*{margin:0; padding:0;}
ol,ul {list-style:none;} 
img{border:0}
input,button,select,textarea{outline:none}
input[type="button"]{transition: all .3s ease-in 0s;cursor:pointer}
textarea{resize:none}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
a{text-decoration:none;outline:none;transition: all .3s ease-in 0s;}
a:hover{}
/*
opactiy{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
red:#cf211a
green:#1e3e2d
blue:#1996d7
*/

/* common */
body{font-family:"Microsoft Yahei","Arial";font-size:14px;color:#2e2e2e;background:#d6d6d6}

/*header*/
.header{width:100%;overflow:hidden;background:url(../img/header_bg.jpg) no-repeat center 0;color:#fff}
.header .wrap{width:1200px;height:87px;margin:0 auto;}
.header .logo{width:190px;height:87px;background:url(../img/logo.png) no-repeat center center;float:left;display:block;}
.header .nav{width:630px;height:87px;float:left;margin:0 0 0 30px}
.header .nav a{width:105px;height:50px;margin:37px 0 0 0;float:left;line-height:50px;color:#fff;text-align:center;display:block;font-size:18px;}
.header .nav a:hover, .header .nav a.cur{background:url(../img/nav_cur.png) no-repeat;color:#cf211a}
.header .login{width:350px;height:87px;line-height:130px;float:right;text-align:right;}
.header .login a{color:#fff}
.header .login a:hover{color:#530300}

/*index*/
.silder_box1{width:100%;overflow:hidden;background:url(../img/silder_box1_bg.jpg) no-repeat center 0;}
.silder_box1 .wrap{width:1200px;height:500px;margin:0 auto;padding:220px 0 0 0;}
.silder_box1 .wrap .search_box{width:660px;overflow:hidden;border:1px #fff solid;padding:20px;border-radius:8px;margin:0 auto;background:url(../img/blank.png)}
.silder_box1 .wrap .search_box input[type="radio"]{display:none}
.silder_box1 .wrap .search_box label{width:100px;height:40px;background:#fff;border-radius:5px;float:left;margin:0 5px 20px;display:block;text-align:center;line-height:40px;cursor:pointer}
.silder_box1 .wrap .search_box label.cur{background:#cf211a;color:#fff}
.silder_box1 .wrap .choose_kind, .silder_box1 .wrap .choose_area, .silder_box1 .wrap .hot{width:100%;overflow:hidden;margin:5px 0}
.silder_box1 .wrap .hot a{margin:0 10px 0 0;color:#2e2e2e}
.silder_box1 .wrap .hot a:hover{color:#cf211a}
.silder_box1 .wrap .hot a span.cur{padding:0 0 0 35px;background:url(../img/hot.png) no-repeat 5px center}
.silder_box1 .wrap .searchbtn{width:420px;height:60px;display:block;margin:30px auto 10px;background:#fff url(../img/search_icon.png) no-repeat 120px center;border:0;border-radius:8px;color:#1e3e2d;font-size:20px;cursor:pointer;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);opacity:.5;}
.silder_box1 .wrap .searchbtn.cur{background:#1e3e2d url(../img/search_icon_hl.png) no-repeat 120px center;color:#fff;opacity:1}
.silder_box1 .wrap a.more_search{color:#2e2e2e;float:right}
.silder_box1 .wrap a.more_search:hover{color:#cf211a}

.silder_box2{width:100%;overflow:hidden;background:#1e3e2d url(../img/silder_box2_bg.jpg) no-repeat center top;}
.silder_box2 .wrap{width:1200px;height:810px;margin:0 auto;}
.silder_box2 .wrap h2{width:600px;height:50px;display:block;padding:200px 0 0 0;background:url(../img/silder_box2_title.png) no-repeat center 130px;margin:0 auto;text-align:center;color:#b2bcb3}
.silder_box2 .wrap ul.venue{width:100%;overflow:hidden;margin:50px 0 0}
.silder_box2 .wrap ul.venue li{position:relative;width:280px;height:384px;margin:0 60px;float:left;}
.silder_box2 .wrap ul.venue li p{position:absolute;left:0;top:0;width:280px;height:384px;text-align:center;background:url(../img/black.png);display:block;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);opacity:0;transition: all .3s ease-in 0s;}
.silder_box2 .wrap ul.venue li p.show{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity:1;}
.silder_box2 .wrap ul.venue li p span{width:100%;height:30px;line-height:30px;display:block;font-size:16px;color:#fff;margin:140px 0 0 0;}
.silder_box2 .wrap ul.venue li p img{width:25px;height:25px;margin:15px 7px 0 7px}
.silder_box2 .wrap ul.venue li .mask{position:absolute;width:280px;height:234px;left:0;bottom:0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);opacity:0;transition: all .3s ease-in 0s;}
.silder_box2 .wrap ul.venue li .mask.show{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity:1;}
.silder_box2 .wrap ul.venue li .mask .title{width:100%;height:28px;line-height:28px;color:#fff;text-align:center;background:url(../img/black.png) }
.silder_box2 .wrap ul.venue li .mask .cont{width:80%;height:190px;padding:8px 10%;background:#fff }
.silder_box2 .wrap ul.venue li .mask .cont .iconbox{width:100%;height:54px;margin:0 auto 20px;border-bottom:1px #1e3e2d solid;text-align:center}
.silder_box2 .wrap ul.venue li .mask .cont .iconbox img{width:25px;height:25px;margin:15px 7px 0 7px}
.silder_box2 .wrap ul.venue li .mask .cont span{width:100%;height:105px;display:block;line-height:24px;color:#1e3e2d;}

.silder_box3{width:100%;overflow:hidden;background:#fff url(../img/silder_box3_bg.png) no-repeat center bottom;}
.silder_box3 .wrap{width:1200px;height:880px;margin:0 auto;}
.silder_box3 .wrap h2{width:600px;height:50px;display:block;padding:150px 0 0 0;background:url(../img/silder_box3_title.png) no-repeat center 80px;margin:0 auto;text-align:center;color:#404040}
.silder_box3 .wrap .event{width:872px;overflow:hidden;margin:0 auto 10px}
.silder_box3 .wrap .event li{position:relative;width:870px;height:260px;margin:25px 0;border:1px #9f9f9f solid;}
.silder_box3 .wrap .event li .mask{position:absolute;width:256px;height:260px;top:0;right:0;background:url(../img/silder_box3_obliqueline.png) no-repeat 0 0;right:-256px;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);opacity:0;transition: all .3s ease-in 0s;}
.silder_box3 .wrap .event li .mask.show{right:0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity:1;}
.silder_box3 .wrap .event li .mask .cont{width:200px;height:260px;float:right;background:#fff}
.silder_box3 .wrap .event li .mask .cont img{margin:60px 20px 40px;width:150px;height:auto;float:right;clear:both}
.silder_box3 .wrap .event li .mask .cont span{position:relative;display:block;height:48px;overflow:hidden;line-height:24px;text-align:right;margin:0 20px 0 0;font-size:16px;clear:both;background:#fff}
.silder_box3 .wrap .event li .mask .cont span::after {content:"...";font-weight:bold;position:absolute;bottom:0;right:0;padding:0 2px 1px 0;background:url(../img/es_blank.png) repeat-y;}

.silder_box3 .wrap .event li p{position:absolute;display:block;width:100%;height:50px;line-height:50px;text-align:center;bottom:0;left:0;font-size:16px;background:url(../img/black.png) ;color:#fff;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);opacity:0;transition: all .3s ease-in 0s;}
.silder_box3 .wrap .event li p.show{filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);opacity:1}

.silder_box3 .wrap a.more{display:block;margin:0 auto;text-align:center;color:#494949}
.silder_box3 .wrap a.more:hover{color:#cf211a}


.silder_box4{width:100%;overflow:hidden;background:#e7e7e7}
.silder_box4 .wrap{width:1200px;height:770px;margin:0 auto;}
.silder_box4 .wrap h2{width:600px;height:50px;display:block;padding:150px 0 0 0;background:url(../img/silder_box4_title.png) no-repeat center 80px;margin:0 auto;text-align:center;color:#404040}
.silder_box4 .wrap .left_col{width:380px;height:380px;padding:0 0 0 300px;background:url(../img/silder_box4_iphone.jpg) no-repeat 20px 0;margin:60px 0 50px 0;float:left}
.silder_box4 .wrap .left_col img{width:200px;height:200px;border:15px #fff solid;margin:0 55px}
.silder_box4 .wrap .left_col span{display:block;width:200px;height:30px;line-height:30px;padding:0 70px;color:#989898;text-align:center}
.silder_box4 .wrap .left_col a{display:block;width:100px;height:45px;line-height:45px;color:#989898;margin:20px 0 20px 80px;color:#fff;font-size:18px;padding:0 0 0 80px;border-radius:5px}
.silder_box4 .wrap .left_col a.ios{background:#fe931f url(../img/iphone_ico.png) no-repeat 30px center}
.silder_box4 .wrap .left_col a.and{background:#a5c63b url(../img/android_ico.png) no-repeat 30px center}
.silder_box4 .wrap .right_col{width:420px;height:380px;padding:0 0 0 100px;background:url(../img/col_cutline.png) no-repeat 0 center;margin:60px 0 50px 0;float:right}
.silder_box4 .wrap .right_col span{display:block;width:290px;height:50px;margin:0 0 30px;padding:0 0 0 80px;line-height:50px;color:#656565}
.silder_box4 .wrap .right_col span.list1{background:url(../img/app_icons.png) no-repeat 0 0}
.silder_box4 .wrap .right_col span.list2{background:url(../img/app_icons.png) no-repeat 0 -70px}
.silder_box4 .wrap .right_col span.list3{background:url(../img/app_icons.png) no-repeat 0 -140px}
.silder_box4 .wrap .right_col span.list4{background:url(../img/app_icons.png) no-repeat 0 -210px}
.silder_box4 .wrap .right_col span.list5{background:url(../img/app_icons.png) no-repeat 0 -280px}
.silder_box4 .wrap a.more{display:block;margin:0 auto;text-align:center;color:#656565}
.silder_box4 .wrap a.more:hover{color:#49b2e9}

.silder_box5{width:100%;overflow:hidden;background:#cf211a}
.silder_box5 .wrap{width:1200px;height:700px;margin:0 auto;}
.silder_box5 .wrap h2{width:600px;height:50px;display:block;padding:150px 0 0 0;background:url(../img/silder_box5_title.png) no-repeat center 80px;margin:0 auto;text-align:center;color:#fff}
.silder_box5 .wrap ul{width:1000px;overflow:hidden;margin:70px auto 0}
.silder_box5 .wrap ul li{width:250px;height:30px;padding:170px 0 0 0;float:left;text-align:center;color:#fff}
.silder_box5 .wrap ul li.icon1{background:url(../img/silder_box5_icon1.png) no-repeat center 0;}
.silder_box5 .wrap ul li.icon2{background:url(../img/silder_box5_icon2.png) no-repeat center 0;}
.silder_box5 .wrap ul li.icon3{background:url(../img/silder_box5_icon3.png) no-repeat center 0;}
.silder_box5 .wrap ul li.icon4{background:url(../img/silder_box5_icon4.png) no-repeat center 0;}
.silder_box5 .wrap a.link{display:block;width:120px;padding:0 0 0 127px;height:60px;margin:100px auto 0;background:url(../img/silder_box5_btn.png) no-repeat 0 0;color:#cf211a;font-size:20px;text-align:left;line-height:63px}
.silder_box5 .wrap a.link:hover{background:url(../img/silder_box5_btn_hl.png) no-repeat 0 0;color:#fff}



/*login && reg*/
.login_box{width:100%;overflow:hidden;background:url(../img/login_bg.jpg) repeat-y center 0}
.login_box .wrap{width:1200px;overflow:hidden;margin:60px auto}
.login_box .wrap ul.tabbar{width:100%;height:65px;margin:0 auto 0;border-bottom:5px #cf211a solid}
.login_box .wrap ul.tabbar li{width:200px;height:60px;margin:5px 10px 0 0;float:left;background:#e4e4e4;color:#838484;line-height:60px;font-size:20px;text-align:center;cursor:pointer}
.login_box .wrap ul.tabbar li.cur{height:65px;margin:0 10px 0 0;background:#cf211a;line-height:65px;color:#fff;border-right:5px #520300 solid;}
.login_box .contbox{width:1040px;overflow:hidden;padding:60px 80px;background:#fff;display:none}
.login_box .contbox.show{display:block}
.login_box .contbox ul.left_col{width:620px;overflow:hidden;padding:0 100px 0 0;border-right:1px #cdcdcd solid;float:left}
.login_box .contbox ul.left_col li{width:100%;overflow:hidden;margin:0 0 30px 0;}
.login_box .contbox ul.left_col li.clean{margin:0}
.login_box .contbox ul.left_col li label{width:620px;height:40px;display:block;font-size:18px;color:#555555}
.login_box .contbox ul.left_col li input[type="text"], .login_box .contbox ul.left_col li input[type="password"]{width:528px;height:20px;line-height:20px;padding:20px 60px 20px 30px;border:1px #acacb0 solid;font-size:18px;margin:0 0 10px 0}
.login_box .contbox ul.left_col li #reg_captcha{width:378px;float:left;border-right:0}
#picCaptcha{width:378px;float:left;border-right:0}
#venuesPicCaptcha{width:178px;float:left;border-right:0}
#log_username, #reg_username{background:url(../img/username_bg.png) no-repeat right center;}
#log_password, #reg_password, #reg_password_cf{background:url(../img/password_bg.png) no-repeat right center;}
#captcha_btn{width:150px;height:62px;border:0;background:#ccc;font-size:16px;}
.login_box .contbox ul.left_col li input[type="checkbox"]{display:none}
.login_box .contbox ul.left_col li label.rem{width:120px;height:30px;line-height:30px;font-size:14px;padding:0 0 0 40px;display:block;background:url(../img/y_red.png) no-repeat 0 center;float:left;}
.login_box .contbox ul.left_col li label.rem.checked{background:url(../img/y_red_checked.png) no-repeat 0 center;}
.login_box .contbox ul.left_col li a.forgot_pw{color:#acacb0;float:right;}
.login_box .contbox ul.left_col li span{width:620px;display:block;margin:0;color:#cf211a;clear:both}
.login_box .contbox ul.left_col li span.tips_code{color:#acacb0;text-align:center;margin:10px 0}
.login_box .contbox .right_col{float:left;width:260px;padding:0 0 0 59px;color:#acacb0;font-size:16px;position:relative}
.login_box .contbox .right_col span{width:100%;height:80px;line-height:90px;display:block;}
.login_box .contbox .right_col .share_box{width:100%;overflow:hidden;}
.login_box .contbox .right_col .share_box a{width:60px;height:60px;display:block;margin:0 25px 5px 0;float:left;overflow:hidden}
.login_box .contbox .right_col .share_box a img{opacity:0;width:100%;height:100%}
.login_box .contbox .right_col .share_box a.renren{background:url(../img/icon_renren.png) no-repeat 0 0;}
.login_box .contbox .right_col .share_box p{position:absolute;left:20px;top:150px;display:block;width:300px;height:280px;background:#fff;overflow:hidden;padding:0;opacity:0;transition: all .3s ease-in 0s;}
.login_box .contbox .right_col .share_box p img{width:228px;height:228px;}
.login_box .contbox .right_col .share_box p.show{opacity:1;}

.login_box .contbox .right_col .share_box a.sina{background:url(../img/icon_sina.png) no-repeat 0 0;}
.login_box .contbox .right_col .share_box a.tencent{background:url(../img/icon_tencent.png) no-repeat 0 0;}
.login_box .contbox .right_col .reg_venue{font-size:16px;color:#1e3e2d;margin:40px 0 0 0;padding:0 0 20px 0;display:block;border-bottom:1px #ccc solid;}
.login_box .contbox .right_col .reg_venue:hover{color:#cf211a}
.login_box .submit_btn{width:180px;height:55px;background:#1e3e2d;line-height:55px;border:0;color:#fff;font-size:20px;float:right}
.login_box .submit_btn.hover{background:#cf211a}




/*reg_venue*/
.login_box .contbox .lef_stepline{width:170px;overflow:hidden;float:left}
.login_box .contbox .lef_stepline h2{width:100%;overflow:hidden;text-align:right;line-height:36px;font-size:20px}

.login_box .contbox ul.step_box{width:700px;overflow:hidden;float:right;border-left:1px #333 solid;padding:0 0 0 100px;margin-left:39px;}
.login_box .contbox ul.step_box li{width:100%;overflow:hidden;margin:0 0 30px 0;}
.login_box .contbox ul.step_box li.clean{margin:0}
.login_box .contbox ul.step_box li label{width:120px;height:60px;display:block;font-size:18px;color:#555555;float:left;line-height:60px;text-align:right;padding:0 10px 0 0;}
.login_box .contbox ul.step_box li input[type="text"], .login_box .contbox ul.step_box li input[type="password"]{width:328px;height:20px;line-height:20px;padding:20px 60px 20px 30px;border:1px #acacb0 solid;font-size:18px;margin:0 0 10px 0;float:left}
.login_box .contbox ul.step_box li #reg_captcha{width:178px;float:left;border-right:0}
.login_box .contbox ul.step_box li .next_btn{float:left;margin-left:130px;width:180px;height:55px;background:#1e3e2d;line-height:55px;border:0;color:#fff;font-size:20px;text-align:center}
.login_box .contbox ul.step_box li .submit_btn{float:left;margin:0 0 0 130px}
.login_box .contbox ul.step_box li .img_preview_box{float:left;width:418px;height:250px;border:1px #acacb0 solid;display:block;margin:0;padding:0}
.login_box .contbox ul.step_box li .img_preview_box img{width:100%;height:100%;}
#reg_permit, #reg_licence{display:none}

.login_box .contbox ul.step_box li  span{width:420px;padding:0 0 0 130px;display:block;margin:0;color:#cf211a;clear:both}


/*venue*/
.venue_box{position:relative;width:1200px;overflow:hidden;margin:50px auto;}
.venue_box .lists{width:800px;overflow:hidden;background:#fff;padding:50px;font-size:16px}
.venue_box .lists .search_box{width:100%;height:40px;margin:0 0 40px 0}
.venue_box .lists .search_box #searchbar{float:left;width:690px;height:40px;padding:5px 14px;font-size:16px;border-top:1px #b3b3b3 solid;border-bottom:1px #b3b3b3 solid;border-left:1px #b3b3b3 solid;border-right:0;background:#f2f2f2}
.venue_box .lists .search_box #searchbtn{width:80px;height:55px;height:52px;border-top:1px #b3b3b3 solid;border-bottom:1px #b3b3b3 solid;border-right:1px #b3b3b3 solid;border-left:0;float:left;background:#f2f2f2 url(../img/searchbtn.png) no-repeat center center}
.venue_box .lists ul.typelist{width:710px;overflow:hidden;padding:0 0 10px 0;float:left}
.venue_box .lists ul.arealist{width:710px;overflow:hidden;padding:0 0 10px 0;float:left}
.venue_box .lists ul.typelist li, .venue_box .lists ul.arealist li{padding:0;float:left;margin:0 30px 15px 0;padding:5px 10px;color:#333;cursor:pointer;}
.venue_box .lists ul.typelist#districtSelSport li{min-width:48px}
.venue_box .lists ul.arealist#districtSel li{min-width:64px}

.venue_box .lists ul.typelist li.cur, .venue_box .lists ul.arealist li.cur{background:#cf211a;color:#fff}

.typelist_row{width:100%;overflow:hidden;border-bottom:1px #ccc dashed;}
.arealist_row{width:100%;overflow:hidden;border-bottom:2px #cf211a solid;margin:20px 0;}


.venue_box .lists ul.typelist.short{width:90px;}
.venue_box .lists ul.arealist.short{width:90px;}


.venue_box .list_box{width:100%;overflow:hidden}
.venue_box .list_box .head_row{width:100%;height:26px;}
.venue_box .list_box .head_row p{width:50%;height:26px;line-height:26px;float:left}
.venue_box .list_box .head_row .select_box{width:50%;height:26px;float:right;position:relative;font-size:13px;}
.venue_box .list_box .head_row .select_box .tag{width:50px;height:26px;float:right;line-height:26px;padding:0 0 0 4px;background:#b3b3b3;text-align:center;color:#fff;}
.venue_box .list_box .head_row .select_box h2{width:90px;height:24px;padding:0 20px 0 10px;float:right;line-height:24px;background:#f2f2f2 url(../img/select_arrow.png) no-repeat right center;border:1px #b3b3b3 solid;cursor:pointer}
.venue_box .list_box .head_row .select_box ul{position:absolute;right:0;top:25px;width:120px;padding:5px 0 0 0;overflow:hidden;border:1px #b3b3b3 solid;background:#f2f2f2;z-index:99;display:none}
.venue_box .list_box .head_row .select_box ul.show{display:block}
.venue_box .list_box .head_row .select_box ul li{width:100px;padding:2px 20px 2px 10px ;height:22px;margin:0 0 5px 0;background:#f2f2f2;line-height:22px;cursor:pointer}
.venue_box .list_box .head_row .select_box ul li.cur{background:#b3b3b3}

.venue_box .list_box .cont_row{width:100%;overflow:hidden;}
.venue_box .list_box .cont_row .list_item{width:780px;background:#f2f2f2;height:180px;margin:20px 0;padding:10px}
.venue_box .list_box .cont_row .list_item img.preview{width:180px;height:180px;float:left}
.venue_box .list_box .cont_row .list_item div.rig_box{width:600px;height:180px;float:left;position:relative}
.venue_box .list_box .cont_row .list_item div.rig_box .title{position:absolute;left:20px;top:10px;font-size:18px;width:400px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.venue_box .list_box .cont_row .list_item div.rig_box .address{position:absolute;left:20px;top:100px;font-size:14px;border-bottom:1px #666666 solid;width:400px;padding:10px 0;color:#666666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.venue_box .list_box .cont_row .list_item div.rig_box .mask{position:absolute;left:20px;top:140px;font-size:14px;width:400px;height:40px;overflow:hidden;color:#666666}
.venue_box .list_box .cont_row .list_item div.rig_box .device{width:402px;height:40px;}
.venue_box .list_box .cont_row .list_item div.rig_box .device li{width:73px;height:20px;float:left;text-align:left;line-height:20px;margin:15px 0;border-right:1px #666666 solid;padding:0 0 0 60px}
.venue_box .list_box .cont_row .list_item div.rig_box .device li#wifi{background:url(../img/icon_wifi.png) no-repeat 30px center}
.venue_box .list_box .cont_row .list_item div.rig_box .device li#park{background:url(../img/icon_park.png) no-repeat 30px center}
.venue_box .list_box .cont_row .list_item div.rig_box .device li#shop{background:url(../img/icon_shop.png) no-repeat 25px center;width:78px;padding:0 0 0 55px}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box{position:absolute;left:20px;top:40px;font-size:14px;width:400px;height:60px;overflow:hidden;color:#666666;}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li{width:40px;height:20px;line-height:20px;float:left;padding:0 0 0 25px;font-size:12px;margin:5px 10px 5px 0}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#basketball{background:url(../img/icon_basketball_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#football{background:url(../img/icon_football_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#skiing{background:url(../img/icon_skiing_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#swam{background:url(../img/icon_swam_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#bicycle{background:url(../img/icon_bicycle_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#running{background:url(../img/icon_running_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#snooker{background:url(../img/icon_snooker_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#tabletennis{background:url(../img/icon_tabletennis_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#tennis{background:url(../img/icon_tennis_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#volleyball{background:url(../img/icon_volleyball_gray.png) no-repeat 0px center}
.venue_box .list_box .cont_row .list_item div.rig_box .icon_box li#badminton{background:url(../img/icon_badminton_gray.png) no-repeat 0px center}





.venue_box .list_box .cont_row .list_item div.rig_box .score_box{position:absolute;right:20px;top:10px;font-size:12px;overflow:hidden;color:#808080;display:block;}
.venue_box .list_box .cont_row .list_item div.rig_box .score_box span.zero{color:#F00;font-size:32px;display:inline-block;vertical-align:top;line-height:34px;font-family:Arial;font-style:italic;letter-spacing:5px}
.venue_box .list_box .cont_row .list_item div.rig_box .score_box span.score{color:#F00;font-size:48px;display:inline-block;line-height:48px;font-family:Arial;font-style:italic;letter-spacing:-2px}

.venue_box .list_box .cont_row .list_item div.rig_box ul.star_box{position:absolute;right:20px;top:70px;width:130px;padding:0 0 0 0;height:22px;text-align:center}
.venue_box .list_box .cont_row .list_item div.rig_box ul.star_box li{width:22px;height:22px;display:inline-block;margin:0 2px;float:left}
.venue_box .list_box .cont_row .list_item div.rig_box ul.star_box li#half{background:url(../img/star_half.png) no-repeat;}
.venue_box .list_box .cont_row .list_item div.rig_box ul.star_box li#all{background:url(../img/star.png) no-repeat}

.venue_box .list_box .cont_row .list_item div.rig_box .discount{position:absolute;right:20px;top:110px;width:120px;height:20px;line-height:20px;text-align:center;color:#ff8400;font-size:14px}
.venue_box .list_box .cont_row .list_item div.rig_box a.more{position:absolute;right:20px;top:140px;width:120px;height:34px;background:#cf211a;line-height:34px;text-align:center;color:#fff}

.venue_box .list_box .loadmore_row{width:140px;height:40px;margin:50px auto 0;text-align:center;line-height:40px;font-size:14px;display:block;background:#e4e4e4;color:#666666}


/*float - ad*/
.float_ad{position:absolute;right:0;top:0;width:275px;overflow:hidden;background:#fff;border:2px #000 solid;transition: all 0.5s ease-out 0s;}
.float_ad h2{width:100%;height:50px;display:block;line-height:50px;text-align:center;font-size:18px;color:#333333}
.float_ad img{margin:0 auto;display:block}
.float_ad p{width:100%;overflow:hidden;color:#fff;background:#000;margin:20px 0 0 0;padding:10px 0;text-align:center;line-height:30px;font-size:18px}
.float_ad p span{width:100%;height:70px;color:#fe931f;font-size:22px}
.float_ad a{width:194px;height:34px;display:block;border-radius:5px;margin:20px auto;font-size:18px;color:#fff;text-align:center;line-height:16px;padding:8px 0 8px 30px}
.float_ad a span{font-size:12px}
.float_ad a.ios{background:#fe931f url(../img/iphone_ico.png) no-repeat 30px center}
.float_ad a.and{background:#a5c63b url(../img/android_ico.png) no-repeat 30px center}


/*venue - detial*/
.venue_detail_box{position:relative;width:1200px;overflow:hidden;margin:50px auto;background:#fff}
.venue_detail_box .head{position:relative;width:100%;height:420px;}
.venue_detail_box .head .venue_pre{wdith:1200px;height:330x}
.venue_detail_box .head .sbutton_box{position:absolute;left:100px;top:300px;width:860px;height:110px;overflow:hidden;}
.venue_detail_box .head .sbutton_box a{width:76px;height:40px;padding:76px 0 0 0;margin:0 10px 0 0;display:block;float:left;text-align:center;line-height:40px;color:#999999;font-size:16px;transition:none}
.venue_detail_box .head .sbutton_box a.cur, .venue_detail_box .head .sbutton_box a:hover{color:#cf211a}
.venue_detail_box .head .sbutton_box a#football{background:url(../img/venue_icon_football.png) no-repeat}
.venue_detail_box .head .sbutton_box a#football.cur, .venue_detail_box .head .sbutton_box a#football:hover{background:url(../img/venue_icon_football_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#basketball{background:url(../img/venue_icon_basketball.png) no-repeat}
.venue_detail_box .head .sbutton_box a#basketball.cur, .venue_detail_box .head .sbutton_box a#basketball:hover{background:url(../img/venue_icon_basketball_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#badminton{background:url(../img/venue_icon_badminton.png) no-repeat}
.venue_detail_box .head .sbutton_box a#badminton.cur, .venue_detail_box .head .sbutton_box a#badminton:hover{background:url(../img/venue_icon_badminton_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#snooker{background:url(../img/venue_icon_snooker.png) no-repeat}
.venue_detail_box .head .sbutton_box a#snooker.cur, .venue_detail_box .head .sbutton_box a#snooker:hover{background:url(../img/venue_icon_snooker_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#bicycle{background:url(../img/venue_icon_bicycle.png) no-repeat}
.venue_detail_box .head .sbutton_box a#bicycle.cur, .venue_detail_box .head .sbutton_box a#bicycle:hover{background:url(../img/venue_icon_bicycle_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#tennis{background:url(../img/venue_icon_tennis.png) no-repeat}
.venue_detail_box .head .sbutton_box a#tennis.cur, .venue_detail_box .head .sbutton_box a#tennis:hover{background:url(../img/venue_icon_tennis_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#volleyball{background:url(../img/venue_icon_volleyball.png) no-repeat}
.venue_detail_box .head .sbutton_box a#volleyball.cur, .venue_detail_box .head .sbutton_box a#volleyball:hover{background:url(../img/venue_icon_volleyball_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#skiing{background:url(../img/venue_icon_skiing.png) no-repeat}
.venue_detail_box .head .sbutton_box a#skiing.cur, .venue_detail_box .head .sbutton_box a#skiing:hover{background:url(../img/venue_icon_skiing_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#swam{background:url(../img/venue_icon_swam.png) no-repeat}
.venue_detail_box .head .sbutton_box a#swam.cur, .venue_detail_box .head .sbutton_box a#swam:hover{background:url(../img/venue_icon_swam_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#baseball{background:url(../img/venue_icon_baseball.png) no-repeat}
.venue_detail_box .head .sbutton_box a#baseball.cur, .venue_detail_box .head .sbutton_box a#baseball:hover{background:url(../img/venue_icon_baseball_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#tabletennis{background:url(../img/venue_icon_tabletennis.png) no-repeat}
.venue_detail_box .head .sbutton_box a#tabletennis.cur, .venue_detail_box .head .sbutton_box a#tabletennis:hover{background:url(../img/venue_icon_tabletennis_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#running{background:url(../img/venue_icon_running.png) no-repeat}
.venue_detail_box .head .sbutton_box a#running.cur, .venue_detail_box .head .sbutton_box a#running:hover{background:url(../img/venue_icon_running_hl.png) no-repeat}
.venue_detail_box .head .sbutton_box a#other{background:url(../img/venue_icon_other.png) no-repeat}
.venue_detail_box .head .sbutton_box a#other.cur, .venue_detail_box .head .sbutton_box a#other:hover{background:url(../img/venue_icon_other_hl.png) no-repeat}


.venue_detail_box .head .mask_box{position:absolute;left:0;top:220px;width:1200px;height:110px;background:url(../img/black.png);color:#fff}
.venue_detail_box .head .mask_box .name{position:absolute;left:100px;top:0;width:370px;height:50px;line-height:50px;font-size:22px;}
.venue_detail_box .head .mask_box .tel{position:absolute;left:970px;top:5px;width:200px;height:30px;line-height:30px;background:url(../img/tel.png) no-repeat 0 center;padding:0 0 0 25px}
.venue_detail_box .head .mask_box .address{position:absolute;left:670px;top:5px;width:250px;height:52px;line-height:26px;background:url(../img/location.png) no-repeat 0 5px;padding:0 0 0 25px;overflow:hidden;}
.venue_detail_box .head .mask_box .score{position:absolute;left:500px;top:5px;width:140px;height:30px;line-height:30px;}
.venue_detail_box .head .mask_box .score ul{width:85px;height:15px;margin:7px 0;float:left}
.venue_detail_box .head .mask_box .score ul li{width:15px;height:15px;float:left;margin:0 2px 0 0;background:url(../img/star_b.png) no-repeat;}
.venue_detail_box .head .mask_box .score ul li.org{background:url(../img/star_o.png) no-repeat;}
.venue_detail_box .head .mask_box .score span{float:left;font-size:26px;color:#ff8400;margin:0 0 0 5px;display:block;height:30px;line-height:28px;font-style:italic;}
.venue_detail_box .head .mask_box .device{position:absolute;width:250px;height:20px;right:0;top:80px;line-height:40px;}
.venue_detail_box .head .mask_box .device ul{width:402px;height:20px;}
.venue_detail_box .head .mask_box .device ul li{width:53px;height:20px;float:left;text-align:left;line-height:20px;padding:0 0 0 25px;}
.venue_detail_box .head .mask_box .device ul li#wifi{background:url(../img/icon_wifi_white.png) no-repeat 0 center;width:43px;}
.venue_detail_box .head .mask_box .device ul li#park{background:url(../img/icon_park_white.png) no-repeat 0 center;}
.venue_detail_box .head .mask_box .device ul li#shop{background:url(../img/icon_shop_white.png) no-repeat 0 center;width:63px;}

.venue_detail_box .data_box{width:730px;overflow:hidden;float:left}
.venue_detail_box .data_box .week_box{width:730px;margin:0 0 30px 0;overflow:hidden;text-align:center;}
.venue_detail_box .data_box .week_box li{width:90px;height:72px;float:left;background:#fff;margin:0 12px 0 0;color:#fff;border:1px #333 solid;color:#333;cursor:pointer}
.venue_detail_box .data_box .week_box li.cur{background:#cf211a;color:#fff;border:1px #cf211a solid;}
.venue_detail_box .data_box .week_box li span.date{width:90px;height:22px;line-height:26px;display:block;clear:both}
.venue_detail_box .data_box .week_box li span.date_t{width:90px;height:28px;line-height:28px;display:block;clear:both;font-size:22px;}
.venue_detail_box .data_box .week_box li span.remainder{width:90px;height:22px;line-height:18px;display:block;clear:both;font-size:12px;}
.venue_detail_box .data_box .tips_box{width:375px;margin:0 auto 30px;text-align:center;overflow:hidden}
.venue_detail_box .data_box .tips_box li{width:50px;height:18px;line-height:18px;margin:0 10px;font-size:12px;padding:0 0 0 55px;text-align:left;float:left}
.venue_detail_box .data_box .tips_box li.reserve{background:url(../img/reserve.png) no-repeat}
.venue_detail_box .data_box .tips_box li.reserved{background:url(../img/reserved.png) no-repeat}
.venue_detail_box .data_box .tips_box li.choosed{background:url(../img/choosed.png) no-repeat}
.venue_detail_box .data_box .timeline{width:660px;overflow:hidden;font-size:9px;text-align:center;padding:0 0 0 70px}
.venue_detail_box .data_box .timeline li{float:left;width:38px;height:30px;line-height:30px;}
.venue_detail_box .data_box .choose_box{width:730px;overflow:hidden;padding:1px 0 0 0}
.venue_detail_box .data_box .choose_box.redalert{width:718px;overflow:hidden;padding:1px 0 0 0;border:1px #cf211a solid;height:40px;text-align:center;line-height:40px;color:#cf211a}
.venue_detail_box .data_box .choose_box ul{width:730px;overflow:hidden;margin:-1px 0 0 0}
.venue_detail_box .data_box .choose_box ul li{width:37px;height:45px;overflow:hidden;float:left;border:1px #ccc solid;line-height:45px;margin:0 0 0 -1px;text-align:center;font-size:12px;background:#e6e6e6}
.venue_detail_box .data_box .choose_box ul li.res{background:#fff;color:#1996d7;cursor:pointer;}
.venue_detail_box .data_box .choose_box ul li.cur{background:#ff8402;color:#fff}
.venue_detail_box .data_box .choose_box ul p{width:90px;height:45px;overflow:hidden;float:left;border:1px #ccc solid;margin:0;text-align:center;font-size:12px;display:block;line-height:45px;font-size:14px;background:#fff}
.venue_detail_box .data_box .choose_box #page_day1, .venue_detail_box .data_box .choose_box #page_day2,  .venue_detail_box .data_box .choose_box #page_day3,  .venue_detail_box .data_box .choose_box #page_day4,  .venue_detail_box .data_box .choose_box #page_day5,  .venue_detail_box .data_box .choose_box #page_day6, .venue_detail_box .data_box .choose_box #page_day7{display:none}
.venue_detail_box .data_box .choose_box #page_day1.show, .venue_detail_box .data_box .choose_box #page_day2.show,  .venue_detail_box .data_box .choose_box #page_day3.show,  .venue_detail_box .data_box .choose_box #page_day4.show,  .venue_detail_box .data_box .choose_box #page_day5.show,  .venue_detail_box .data_box .choose_box #page_day6.show, .venue_detail_box .data_box .choose_box #page_day7.show{display:block}


.venue_detail_box .pay_box{width:234px;padding:30px 18px;overflow:hidden;float:right;background:#e6e6e6;}
.venue_detail_box .pay_box h2{width:134px;height:30px;line-height:30px;display:block;font-size:20px;text-align:left;padding:0 0 0 100px;margin:0 0 20px 0;}
.venue_detail_box .pay_box h2#basketball{background:url(../img/icon_basketball_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#football{background:url(../img/icon_football_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#tennis{background:url(../img/icon_tennis_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#baseball{background:url(../img/icon_baseball_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#skiing{background:url(../img/icon_skiing_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#snooker{background:url(../img/icon_snooker_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#swam{background:url(../img/icon_swam_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#tabletennis{background:url(../img/icon_tabletennis_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#bicycle{background:url(../img/icon_bicycle_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#volleyball{background:url(../img/icon_volleyball_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#badminton{background:url(../img/icon_badminton_black.png) no-repeat 70px center}
.venue_detail_box .pay_box h2#running{background:url(../img/icon_running_black.png) no-repeat 70px center}

.venue_detail_box .pay_box .choosed_item_box{width:234px;overflow:hidden;margin:0 0 20px 0;}
.venue_detail_box .pay_box .choosed_item_box.redalert{width:202px;overflow:hidden;margin:0 0 20px 0;background:#fff;border:1px #cf211a solid;padding:15px;color:#cf211a;line-height:24px}
.venue_detail_box .pay_box .choosed_item_box span{width:204px;overflow:hidden;display:block;background:#fff;margin:0 0 8px 0;padding:10px 15px;color:#cf211a;text-align:center}
.venue_detail_box .pay_box .price_box{width:234px;overflow:hidden;text-align:center;border-bottom:1px #d0d0d0 solid;padding:0 0 15px 0}
.venue_detail_box .pay_box .price_box span.price{font-size:20px;color:#cf211a}
.venue_detail_box .pay_box .submit_box{width:234px;overflow:hidden;border-top:1px #fff solid}
.venue_detail_box .pay_box .submit_box label{margin:20px 0 15px;display:block}
.venue_detail_box .pay_box .submit_box ul{width:234px;overflow:hidden;margin:10px 0 0 0}
.venue_detail_box .pay_box .submit_box ul li{width:212px;height:30px;padding:5px 10px;border:1px #ccc solid;margin:0 0 10px 0;background:#fff}
.venue_detail_box .pay_box .submit_box ul li span{display:block;width:50px;height:30px;line-height:30px;text-align:right;border-right:1px #ccc solid;float:left;padding:0 8px 0 0;margin:0 8px 0 0;color:#666666}
.venue_detail_box .pay_box .submit_box ul li input[type="text"]{width:140px;height:30px;line-height:30px;float:left;border:0;font-size:14px;color:#666666}
.venue_detail_box .pay_box .submit_box input.submit{width:160px;height:34px;line-height:34px;margin:20px auto 0;background:#cf211a;border:0;font-size:16px;color:#fff;display:block}

.venue_detail_box .order_row, .venue_detail_box .venue_info_row, .venue_detail_box .discuss_row, .venue_detail_box .venue_near_row{width:1000px;margin:0 100px 40px;overflow:hidden;border-bottom:1px #ccc solid;}
.venue_info_row h2, .discuss_row h2, .venue_near_row h2{width:1000px;height:38px;}
.venue_info_row h2 span, .discuss_row h2 span, .venue_near_row h2 span{width:110px;height:36px;line-height:36px;border-bottom:2px #1996d7 solid;color:#1996d7;display:block;font-size:22px;letter-spacing:1px;float:left}
.venue_info_row h2 span.line, .discuss_row h2 span.line, .venue_near_row h2 span.line{width:890px;height:36px;border-bottom:2px #ccc solid;display:block;font-size:12px;color:#666666}

.venue_info_row img{float:right;border:4px #e6e6e6 solid;width:260px;height:230px}
.venue_info_row .info_box{float:left;width:712px;height:198px;margin:20px 0;padding:0 20px 0 0;overflow-y:auto;overflow-x:hidden}
.venue_info_row .info_box p{margin:0 0 10px 0;text-indent:28px;line-height:30px}

.discuss_row .talk_box{position:relative;width:1000px;overflow:hidden;}
.discuss_row img#portrait{position:absolute;width:100px;height:100px;border-radius:100px;left:10px;top:30px;}
.discuss_row .talk_box .main_box{width:900px;overflow:hidden;padding:0 0 0 100px}
.discuss_row .talk_box .main_box .grade_box{width:850px;height:26px;padding:20px 0 12px 50px;}
.discuss_row .talk_box .main_box .grade_box span{width:70px;height:26px;line-height:26px;float:left;display:block;color:#666666}
.discuss_row .talk_box .main_box .grade_box ul{width:140px;height:26px;float:left;}
.discuss_row .talk_box .main_box .grade_box ul li{width:26px;height:26px;float:left;background:url(../img/discuss_star.png) no-repeat;margin:0 2px 0 0;cursor:pointer}
.discuss_row .talk_box .main_box .grade_box ul li.cur{background:url(../img/discuss_star_hl.png) no-repeat;}
.discuss_row .talk_box .main_box .say_box{position:relative;width:900px;overflow:hidden;}
.discuss_row .talk_box .main_box .say_box textarea{min-width:818px;min-height:110px;max-width:818px;max-height:110px;border:1px #a8a8a8 solid;margin:0 0 0 50px;padding:15px;font-size:14px;line-height:22px;color:#333}
.discuss_row .talk_box .main_box .say_box .arrow{position:absolute;left:36px;top:10px;width:15px;height:28px;background:url(../img/arrow_lef.png) no-repeat;}
.discuss_row .talk_box .main_box .say_box .submit{width:85px;height:32px;margin:10px 0 20px 50px;display:block;border:0;font-size:14px;background:#cf211a;color:#fff;float:left;}
.discuss_row .talk_box .main_box .say_box p{float:left;width:105px;height:32px;color:#666666;font-size:12px;margin:10px 0 25px 10px;line-height:32px;}
.discuss_row .talk_box .main_box .say_box p span{}
.discuss_row .talk_box .main_box .message_box{width:850px;overflow:hidden;margin:0 0 20px 50px;}
.discuss_row .talk_box .main_box .message_box ul{width:850px;overflow:hidden}
.discuss_row .talk_box .main_box .message_box ul li{width:850px;overflow:hidden;border-top:1px #e6e6e6 solid}
.discuss_row .talk_box .main_box .message_box ul li img.portrait_s{width:60px;height:60px;margin:10px;border-radius:60px;float:left}
.discuss_row .talk_box .main_box .message_box ul li .cout{width:770px;overflow:hidden;margin:10px 0;float:left;}
.discuss_row .talk_box .main_box .message_box ul li .cout h2{width:770px;height:15px;line-height:15px;margin:0 0 10px 0;}
.discuss_row .talk_box .main_box .message_box ul li .cout h2 img{width:79px;height:15px;float:left}
.discuss_row .talk_box .main_box .message_box ul li .cout h2 span.time{width:300px;height:15px;text-align:right;float:right;font-size:12px;border:0;margin:0;padding:0;line-height:15px;color:#ccc;}
.discuss_row .talk_box .main_box .message_box ul li .cout h2 span.userAccountName{width:auto;height:15px;text-align:left;float:left;font-size:14px;border:0;margin:0 10px 0 0;padding:0;line-height:15px;color:#333;font-weight:bold}
.discuss_row .talk_box .main_box .message_box ul li .cout p{width:770px;font-size:12px;border:0;margin:0;padding:0;line-height:15px;color:#333333;line-height:22px;word-wrap:break-word;}
.discuss_row .talk_box .main_box .message_box a.load_mes{width:80px;height:30px;margin:10px auto;display:block;background:#e4e4e4;color:#666;font-size:12px;line-height:30px;text-align:center}



.venue_near_row .wrap{position:relative;width:1000px;height:256px;margin:20px auto;}
.venue_near_row .prev_arr{position:absolute;left:0;top:0;width:50px;height:256px;background:url(../img/prev_arrow.png) no-repeat left 80px;cursor:pointer}
.venue_near_row .next_arr{position:absolute;right:0;top:0;width:50px;height:256px;background:url(../img/next_arrow.png) no-repeat right 80px;cursor:pointer}
.venue_near_row .wrap .container{position:relative;width:896px;height:256px;margin:0 auto;overflow:hidden;}
.venue_near_row .wrap .container ul{position:absolute;left:0;top:0;height:256px;margin:0 auto;transition: all .7s ease-out 0s;}
.venue_near_row .wrap .container ul li{width:200px;height:256px;float:left;margin:0 12px;}
.venue_near_row .wrap .container ul li img{width:200px;height:200px;}
.venue_near_row .wrap .container ul li p{width:200px;height:56px;line-height:56px;}
.venue_near_row .wrap .container ul li p span.name{float:left;width:150px;overflow:hidden;display:block}
.venue_near_row .wrap .container ul li p span.score{float:right;font-size:18px;font-style:italic;color:#ff8402}

/*match*/
.match_box{width:1200px;background:#fff;overflow:hidden;margin:40px auto;}
.match_box ul{width:1200px;overflow:hidden}
.match_box ul li{position:relative;width:1120px;height:270px;border-bottom:1px #ccc solid;margin:40px 40px 0 40px;padding:0 0 40px 0;}
.match_box ul li img{width:400px;height:270px;float:left}
.match_box ul li .cout{width:700px;height:270px;float:right;}
.match_box ul li .cout h2.title{width:500px;height:40px;line-height:40px;margin:0 auto;display:block;overflow:hidden;text-align:center;font-size:18px;}
.match_box ul li .cout span.time{width:500px;height:12px;font-size:12px;line-height:12px;margin:0 auto;display:block;text-align:center}
.match_box ul li .cout .text{width:700px;height:170px;overflow:hidden;font-size:14px;margin:0 auto;display:block;text-align:center;line-height:28px;text-align:left;margin:20px 0 0 0}
.match_box ul li .cout .text p{text-indent:28px;margin:0 0 5px 0}
.match_box ul li .cout .panel_box{width:700px;height:28px;line-height:28px;}
.match_box ul li .cout .panel_box a.readmore{color:#cf211a}
.match_box ul li .cout .panel_box a.readmore:hover{color:#1996d7}
.match_box ul li .cout .panel_box a.wx_code{width:80px;height:28px;background:#fff url(../img/read_phone.png) no-repeat 10px center;display:block;padding:0 0 0 30px;float:right;border:1px #333 solid;color:#333;font-size:12px;border-radius:5px;}
.match_box ul li .wx_codebox{position:absolute;right:0;top:280px;z-index:999;display:none;top:280px;*top:290px; /*IE7_hack*/}
.match_box ul li .wx_codebox.show{display:block}
.match_box ul li .wx_codebox .arrow{position:absolute;right:40px;top:0;width:23px;height:15px;background:url(../img/wx_arr.png) no-repeat;z-index:10;*display:none; /*IE7_hack*/}
.match_box ul li .wx_codebox .img_box{width:180px;height:180px;margin:14px 0 0 0;background:#fff;border:1px #a5a5a9 solid}
.match_box ul li .wx_codebox .img_box img{width:150px;height:150px;margin:15px}
.match_box .more{width:160px;height:40px;margin:70px auto 70px;background:#e6e6e6;display:block;text-align:center;line-height:40px;color:#333}

.match_detail_box{width:1200px;background:#fff;overflow:hidden;margin:40px auto;padding-bottom:30px}
.match_detail_box .title{width:700px;line-height:30px;font-size:22px;overflow:hidden;margin:50px auto 10px;text-align:center;}
.match_detail_box .time{width:500px;height:12px;font-size:12px;line-height:12px;margin:0 auto;display:block;text-align:center;color:#999}
.match_detail_box .textbox{width:1000px;overflow:hidden;font-size:14px;margin:50px auto 20px;line-height:24px;text-align:left;}
.match_detail_box .textbox p{text-indent:28px;margin:0 0 40px 0}
.match_detail_box .textbox .imgs_box{margin:0 0 30px 0;text-align:center}
.match_detail_box .textbox .imgs_box img{}
.match_detail_box .textbox .imgs_box span{width:100%;height:30px;line-height:30px;font-size:14px;display:block}

/*队长*/
.leader_box{width:1200px;height:680px;margin:40px auto;background:url(../img/leader.jpg) no-repeat;position:relative}
.leader_box a{position:absolute;width:270px;height:50px;text-align:center;background:#1996d7;display:block;border-radius:8px;color:#fff;line-height:50px;left:745px;top:330px;font-size:18px}
.leader_detail_box{width:1200px;height:680px;margin:40px auto;background:#fff url(../img/leader_d.jpg) no-repeat center center}

/*支付*/
.payment_box{width:1000px;overflow:hidden;margin:40px auto;padding:20px 50px 50px;background:#fff}
.payment_box .ticket_method{width:1000px;overflow:hidden;margin:0 0 30px 0}
.payment_box .ticket_method h2{width:100%;overflow:hidden}
.payment_box .ticket_method h2 span.title{width:140px;height:40px;line-height:40px;border-bottom:2px #cf211a solid;font-size:18px;display:block;letter-spacing:1px;float:left}
.payment_box .ticket_method h2 span.line{width:860px;height:40px;border-bottom:2px #cccccc solid;float:left}
.payment_box .ticket_method ul.info_box{width:100%;overflow:hidden}
.payment_box .ticket_method ul.info_box li{float:left;overflow:hidden;padding:20px;}
.payment_box .ticket_method ul.info_box li.item_list{width:460px;}
.payment_box .ticket_method ul.info_box li.item_list p {width:460px;height:28px;line-height:28px;margin:0 0 20px 0;display:block;overflow:hidden}
.payment_box .ticket_method ul.info_box li.item_list p span{width:60px;height:28px;margin:0 20px 0 0;text-align:center;background:#ccc;display:block;overflow:hidden;float:left}

.payment_box .ticket_method ul.info_box li.time_tips{width:300px;background:#ffe4e3;height:130px;margin:20px 0 0 20px}
.payment_box .ticket_method ul.info_box li.time_tips h2{width:300px;margin:10px 0;text-align:center;color:#cf211a}
.payment_box .ticket_method ul.info_box li.time_tips span{width:100px;padding-left:60px;margin:20px auto;display:block;font-size:40px;height:50px;line-height:50px;background:url(../img/alarm.png) no-repeat 0 center;color:#666666}
.payment_box .ticket_method ul.choosed_box{width:1000px;overflow:hidden;margin:25px 0;padding:25px 0 0 0;border-top:1px #cbcbcb dashed}
.payment_box .ticket_method ul.choosed_box li{width:228px;height:34px;float:left;border:1px #1996d7 solid;margin:0 20px 15px 0;line-height:34px;text-align:center;color:#1996d7}
.payment_box .ticket_method a, .payment_box .pay_method a{width:220px;height:55px;overflow:hidden;margin:50px auto 0;background:#cf211a;line-height:55px;text-align:center;display:block;font-size:20px;color:#fff;clear:both}
.payment_box .ticket_method .total_price{width:250px;height:80px;text-align:center;line-height:80px;margin:0 auto;border:1px #cf211a solid}
.payment_box .ticket_method .total_price span{font-size:24px;color:#cf211a}


.payment_box .pay_method{width:1000px;overflow:hidden;margin:0 0 30px 0}
.payment_box .pay_method h2{width:100%;overflow:hidden}
.payment_box .pay_method h2 span.title{width:140px;height:40px;line-height:40px;border-bottom:2px #cf211a solid;font-size:18px;display:block;letter-spacing:1px;float:left}
.payment_box .pay_method h2 span.line{width:860px;height:40px;border-bottom:2px #cccccc solid;float:left}
.payment_box .pay_method ul.paymod_box{width:1000px;margin:20px 0;overflow:hidden}
.payment_box .pay_method ul.paymod_box li{position:relative;width:188px;height:52px;border:1px #ccc solid;margin:10px 10px 5px 0;float:left;cursor:pointer}
.payment_box .pay_method ul.paymod_box li.cur{border:1px #cf211a solid;}
.payment_box .pay_method ul.paymod_box li span{position:absolute;display:block;right:0;bottom:0;width:20px;height:20px;}
.payment_box .pay_method ul.paymod_box li.cur span{background:url(../img/pay_sel.png) no-repeat}
.payment_box .pay_method ul.paymod_box li#alipay{background:#fff url(../img/alipay.png) no-repeat center 0}
.payment_box .argeement_box{width:500px;height:20px;color:#999;font-size:14px;margin:40px 500px 20px 0;cursor:pointer}
.payment_box .argeement_box .checkbox{float:left;width:18px;height:18px;border:1px #959595 solid;margin:0 5px 0 0;}
.payment_box .argeement_box .checkbox.cur{background:url(../img/y_gray_checked.png) no-repeat center center}
.payment_box .argeement_box strong{color:#333;}
.payment_box .tips{width:950px;line-height:24px;background:#eaeaea;padding:15px 25px}
.payment_box .check_wrong{width:500px;color:#cf211a;display:block;margin-bottom:20px}

/*result*/
.payment_box .result_box{width:800px;margin:0 auto;overflow:hidden;text-align:center;}
.payment_box .result_box h2{width:800px;margin:80px auto 0;overflow:hidden;font-size:24px}
.payment_box .result_box p.cont {width:800px;margin:40px auto 0;overflow:hidden;font-size:16px;}
.payment_box .result_box p.cont span{color:#ef7f25}
.payment_box .result_box p.time {width:800px;margin:40px auto 0;overflow:hidden;font-size:16px;}
.payment_box .result_box a {width:140px;height:50px;display:block;margin:70px auto 0;overflow:hidden;background:#cf211a;color:#fff;line-height:50px;font-size:16px}



/*order_share*/
.order_share_box{position:relative;width:1200px;overflow:hidden;margin:50px auto;}
.order_share_box .main{width:800px;overflow:hidden;background:#fff;padding:50px;font-size:16px}
.order_share_box .main h2{width:785px;border-left:5px #cf211a solid;overflow:hidden;background:#fff;height:30px;font-size:20px;padding-left:10px;line-height:30px;display:block}
.order_share_box .main h2 span{font-size:24px;font-style:italic;color:#cf211a;font-weight:bold}
.order_share_box .img_box{width:800px;overflow:hidden;margin:20px 0 50px}
.order_share_box .img_box img{width:100%;height:auto}
.order_share_box .detail_box{width:750px;overflow:hidden;background:#eaeaea;margin:20px 0 50px;padding:25px}
.order_share_box .detail_box .lef_col{width:400px;margin:30px 0;height:180px;overflow:hidden;float:left}
.order_share_box .detail_box .lef_col li{width:400px;overflow:hidden;line-height:24px;margin:20px 0}
.order_share_box .detail_box .lef_col li span.head{width:50px;overflow:hidden;line-height:24px;float:left}
.order_share_box .detail_box .lef_col li span.cont{width:350px;overflow:hidden;line-height:24px;float:right;max-height:72px}
.order_share_box .detail_box .rig_col{width:300px;margin:30px 0 30px 40px;height:180px;overflow:hidden;float:left;color:#666;background:#fff}
.order_share_box .detail_box .rig_col p.time{width:150px;height:50px;padding:20px 30px 5px 120px;background:url(../img/alarm.png) no-repeat 60px center;line-height:50px;font-size:40px;display:block}
.order_share_box .detail_box .rig_col p.partake{width:300px;height:30px;line-height:30px;text-align:center;display:block}
.order_share_box .detail_box .rig_col p.partake span{color:#fe931f}
.order_share_box .detail_box .rig_col a{width:300px;height:60px;line-height:60px;text-align:center;background:#1996d7;display:block;font-size:20px;color:#fff;margin-top:15px}
.order_share_box .venue_box{width:800px;overflow:hidden;margin:20px 0;}
.order_share_box .venue_box ul{width:831px;overflow:hidden;}
.order_share_box .venue_box ul li{width:246px;margin-right:31px;float:left}
.order_share_box .venue_box ul li img{width:240px;height:190px;}
.order_share_box .venue_box ul li span{width:240px;height:30px;display:block;text-align:center;font-size:14px;line-height:30px;}


/*login_pop*/
.login_pop{position:fixed;left:0;top:0;bottom:0;right:0;background:url(../img/black.png);display:none}
.login_pop.poping{display:block}
.login_pop .wrap{position:absolute;left:50%;top:50%;margin:-250px 0 0 -300px;width:560px;height:460px;padding:20px;background:#fff;border:2px #000 solid}
.login_pop .wrap div.close{position:absolute;right:3px;top:3px;width:18px;height:18px;background:url(../img/closebut.png) no-repeat;z-index:9;cursor:pointer}
.login_pop .contbox{width:560px;height:460px;}
.login_pop .contbox h2{width:560px;height:20px;padding:60px 0 19px 0;border-bottom:1px #000 solid;margin:0 0 20px 0;background:url(../img/wx_logo.png) no-repeat center 0;text-align:center;background-size:150px auto;font-size:18px}
.login_pop .contbox ul.left_col{width:320px;height:340px;overflow:hidden;padding:0 50px 0 0;border-right:1px #cdcdcd solid;float:left;}
.login_pop .contbox ul.left_col li{width:320px;overflow:hidden;margin:0 0 18px 0;}
.login_pop .contbox ul.left_col li.clean{margin:0}
.login_pop .contbox ul.left_col li label{width:100px;height:30px;line-height:20px;display:block;font-size:14px;color:#555555;}
.login_pop .contbox ul.left_col li input[type="text"], .login_pop .contbox ul.left_col li input[type="password"]{width:276px;height:20px;line-height:20px;padding:10px 30px 10px 10px;border:1px #acacb0 solid;font-size:14px;margin:0 0 10px 0}

.login_pop .contbox ul.left_col li #reg_captcha{width:378px;float:left;border-right:0}
#log_username, #reg_username{background:url(../img/username_bg.png) no-repeat right center;}
#log_password, #reg_password, #reg_password_cf{background:url(../img/password_bg.png) no-repeat right center;}
.login_pop .contbox ul.left_col li input[type="checkbox"]{display:none}
.login_pop .contbox ul.left_col li label.rem{width:120px;height:30px;line-height:30px;font-size:14px;padding:0 0 0 30px;display:block;background:url(../img/y_red_s.png) no-repeat 0 center;float:left;}
.login_pop .contbox ul.left_col li label.rem.checked{background:url(../img/y_red_s_checked.png) no-repeat 0 center;}
.login_pop .contbox ul.left_col li a.forgot_pw{color:#acacb0;float:right;line-height:30px}
.login_pop .contbox ul.left_col li span{width:320px;display:block;margin:0;color:#cf211a;clear:both}
.login_pop .contbox ul.left_col li span.tips_code{color:#acacb0;text-align:center;margin:10px 0}
.login_pop .submit_btn{width:110px;height:38px;background:#cf211a;line-height:38px;border:0;color:#fff;font-size:16px;margin:20px 0 0 0}
.login_pop #log_username, .login_pop #reg_username{background:url(../img/username_bg_s.png) no-repeat right center;}
.login_pop #log_password, .login_pop #reg_password, .login_pop #reg_password_cf{background:url(../img/password_bg_s.png) no-repeat right center;}

.login_pop .contbox .right_col{width:165px;height:300px;overflow:hidden;float:left;margin:0 0 0 20px}
.login_pop .contbox .right_col .share_box{width:100%;overflow:hidden;}
.login_pop .contbox .right_col .share_box a{width:60px;height:60px;display:block;margin:25px 20px 5px 0;float:left;overflow:hidden}
.login_pop .contbox .right_col .share_box a img{opacity:0;width:100%;height:100%}
.login_pop .contbox .right_col .share_box a.renren{background:url(../img/icon_renren.png) no-repeat 0 0;}

.login_pop .contbox .right_col .share_box a.sina{background:url(../img/icon_sina.png) no-repeat 0 0;}
.login_pop .contbox .right_col .share_box a.tencent{background:url(../img/icon_tencent.png) no-repeat 0 0;}
.login_pop .contbox .right_col .reg_venue{font-size:16px;color:#1e3e2d;margin:40px 0 0 0;padding:0 0 20px 0;display:block;border-bottom:1px #ccc solid;}
.login_pop .contbox .right_col .reg_venue:hover{color:#cf211a}
.login_pop #renren_code{position:absolute;width:340px;height:400px;background:#fff;border:1px #333 solid;left:150px;top:50px;display:none}
.login_pop .cl{position:absolute;left:471px;top:53px;width:18px;height:18px;background:url(../img/closebut.png) no-repeat;z-index:999;cursor:pointer;display:none}
.login_pop .cl.show{display:block}

.login_pop #renren_code.show{display:block}


/*train*/
.train_box{width:1200px;overflow:hidden;margin:50px auto;}
.train_box .title{width:1200px;height:299px;background:url(../img/train_title.jpg) no-repeat}
.train_box ul{width:1160px;padding:20px;background:#fff;}
.train_box ul li{border-bottom:1px #d1d1d1 dashed;margin:15px 0;padding:15px 0}

/*footer*/
.footer{width:100%;overflow:hidden;background:#e4e4e4;color:#8f99a2;text-align:center;}
.footer .nav{width:100%;height:50px;border-bottom:1px #c3c3c3 solid;}
.footer .nav a{color:#8f99a2;line-height:50px;margin:0 50px}
.footer .nav a:hover{color:#7b0400;}
.footer .code{width:340px;height:140px;margin:30px auto;border-radius:10px;background:#fff url(../img/wx_logo.png) no-repeat right 20px;}
.footer .code img{width:120px;height:120px;margin:10px;background:#000;float:left}
.footer .code span{display:block;float:right;width:150px;height:30px;line-height:30px;margin:100px 0 0 0;padding:0 0 0 35px;text-align:left;background:url(../img/wx_icon.jpg) no-repeat 0 center;color:#2e2e2e}
.footer .copyright{width:100%;height:50px;line-height:50px;background:#20252a;}



.wx_pop{position:fixed;left:0;top:0;bottom:0;right:0;background:url(../img/black.png);display:none}
.wx_pop a.wx{position:absolute;left:50%;top:50%;z-index:9;display:block;width:340px;height:400px;margin-left:-150px;margin-top:-200px;background:#fff}
.wx_pop.show{display:block}


/*wx_hack*/
iframe{margin:0;padding:0;margin-left:20px}
/*.login_pop iframe{margin-top:20px}*/

