*{
    margin:0px;
    padding:0px;
    font-size:14px;
    color:#333;
    font-family:"微软雅黑"
}
.cls_hand{
	cursor:pointer;
}
li {
    list-style:none;
}

a {
    text-decoration:none;
}

a:hover {
    color:rgb(139,194,113);
    cursor:pointer;
}

.container { 
    width:870px;   
}
.content {
    width:800px;
    margin:0 auto;
    padding:10px 10px 10px 10px;
}
.bg {
    width:830px;  
    height:20px;
    margin:0 auto;
    background-color:rgb(207,0,57);
}


.data {
    width:800px; 
    border-bottom:1px dashed #808080;
}

.tab {
   width:100%;
   text-align:center;
   border-collapse: collapse; 
   margin-top:15px;
}

.tab  tr td {
     height:60px; 
      font-size:12px; 
    
 }